In [4]:
import pandas as pd
import numpy as np
from collections import OrderedDict
import re

In [5]:
filename='report_2016_02_01-2016_12_01'

In [4]:
!ls -l

total 16121840
-rw-rw-r-- 1 sean sean       88495 Jan  3 01:33 crealytics.ipynb
-rw-rw-r-- 1 sean sean         275 Jan  2 22:17 crealytics.py
-rw-rw-r-- 1 sean sean     2750153 Jan  2 22:17 report_2016_02_01-2016_12_01_10000.csv
-rw-rw-r-- 1 sean sean 12575272973 Jan  2 22:11 report_2016_02_01-2016_12_01.csv
-rw-rw-r-- 1 sean sean        8715 Jan  3 01:47 report_2016_02_01-2016_12_01_datadict.csv
-rw-rw-r-- 1 sean sean  3930615902 Jan  2 22:22 report_2016_09_01-2016_12_01.csv

In [2]:
!ls -l

total 3501007
-rwxrwx--- 1 Sean Violante mkpasswd   13680957 Dec  9 12:13 ASOS_UK_bm_report_20161019.xlsx
-rwxrwx--- 1 Sean Violante mkpasswd     849297 Nov 30 14:00 all-reports.csv
-rwxrwx--- 1 Sean Violante mkpasswd     175541 Dec  1 15:10 all-reports.xlsx
-rwxrwx--- 1 Sean Violante mkpasswd     145184 Jan  4 13:11 crealytics.ipynb
-rwxrwx--- 1 Sean Violante mkpasswd        288 Jan  4 13:11 crealytics.py
-rwxrwx--- 1 Sean Violante mkpasswd       9594 Jan  4 13:11 datadict.xlsx
-rwxrwx--- 1 Sean Violante mkpasswd        150 Jan  4 13:12 desktop.ini
-rwxrwx--- 1 Sean Violante mkpasswd    7417274 Jan  4 08:30 lookup_report_2016_09_01-2016_12_01.pkl
-rwxrwx--- 1 Sean Violante mkpasswd 3562083151 Jan  4 08:39 report_2016_09_01-2016_12_01.pkl
-rwxrwx--- 1 Sean Violante mkpasswd      16805 Nov 29 20:24 shopping-performance-report.csv
-rwxrwx--- 1 Sean Violante mkpasswd      12164 Nov 30 13:48 shopping-performance-report.xlsx
-rwxrwx--- 1 Sean Violante mkpasswd        402 Dec  1 14:51 shopping.py
-rwxrwx--- 1 Sean Violante mkpasswd     617472 Nov 30 12:57 taxonomy-with-ids.en-US.xls

In [2]:
df_test=pd.read_csv('report_2016_02_01-2016_12_01.csv.gz',nrows=100000)

In [64]:
reader = pd.read_csv('report_2016_02_01-2016_12_01.csv', chunksize=1000000)

In [28]:
cat_types

array(['Ad group ID', 'Ad group', 'Brand', 'Campaign ID', 'Campaign',
       'Category (1st level)', 'Category (2nd level)',
       'Category (3rd level)', 'Category (4th level)',
       'Category (5th level)', 'Country/Territory', 'Custom label 0',
       'Custom label 1', 'Custom label 2', 'Custom label 3',
       'Custom label 4', 'Device', 'Item Id', 'Product type (1st level)',
       'Product type (2nd level)', 'Product type (3rd level)',
       'Product type (4th level)', 'Product type (5th level)'], dtype=object)

In [29]:
dfs=[]
for chunk in reader:
    df=cast_categ(chunk,cat_types)
    dfs.append(cast_categ)

/home/sean/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2821: DtypeWarning: Columns (13,26) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
/home/sean/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2821: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [6]:

def do_lookup(cat, typ):
    lookups[cat]={}
    
    def lookup( val):
        if val not in lookups[cat]:
            lookups[cat][val]=typ(len(lookups[cat]))
        return lookups[cat][val]
    return lookup

In [7]:
data_dict=pd.read_excel('datadict.xlsx',usecols=range(6), index_col=1)
id_types=data_dict.index[data_dict.data_class=='id'].values
data_dict.loc[data_dict.data_type.notnull(), 'data_type'] = \
    data_dict.loc[data_dict.data_type.notnull(), 'data_type'].map(eval)

In [8]:
create_sqlite = 'CREATE TABLE report_20160201_20161201 ( row_id INTEGER PRIMARY KEY, '
col_def =['{} {}'.format(re.sub('[/\(\.\)]','',tup[0]).replace(' ','_').replace('-','_').lower(), tup[1]) for tup in  data_dict.sqlite.iteritems()]
create_sqlite = create_sqlite + ','.join(col_def) + ')'
create_sqlite

'CREATE TABLE report_20160201_20161201 ( row_id INTEGER PRIMARY KEY, ad_group_id INTEGER,ad_group INTEGER,campaign_id INTEGER,campaign INTEGER,countryterritory INTEGER,day TEXT,device INTEGER,category_1st_level INTEGER,category_2nd_level INTEGER,category_3rd_level INTEGER,category_4th_level INTEGER,category_5th_level INTEGER,product_type_1st_level INTEGER,product_type_2nd_level INTEGER,product_type_3rd_level INTEGER,product_type_4th_level INTEGER,product_type_5th_level INTEGER,custom_label_0 INTEGER,custom_label_1 INTEGER,custom_label_2 INTEGER,custom_label_3 INTEGER,custom_label_4 INTEGER,brand INTEGER,item_id INTEGER,impressions INTEGER,clicks INTEGER,conversions INTEGER,cross_device_conv INTEGER,total_conv_value REAL,cost REAL,click_share TEXT,search_impr_share TEXT,ctr REAL,conv_rate REAL)'

In [17]:
lookups={}
converters={id:do_lookup(id, data_dict.at[id, 'data_type']) for id in id_types  }
converters['CTR'] = lambda(x): np.float32(x[:-1])/100
converters['Conv. rate'] =  lambda(x): np.float32(x[:-1])/100
converters['Total conv. value'] =  lambda(x): np.float32(x.replace(',',''))

parse_dates=['Day']
dtype={ nam: data_dict.at[nam, 'data_type']  for nam in data_dict.index[data_dict.data_type.notnull()]}
# http://stackoverflow.com/a/1176179

 wc report_2016_09_01-2016_12_01.csv 
  14466685  282408421 3930615902 report_2016_09_01-2016_12_01.csv

In [6]:
reader = pd.read_csv('report_2016_09_01-2016_12_01.csv', converters=converters, 
                     parse_dates=parse_dates, dtype=dtype, chunksize=1000000)

In [18]:
reader = pd.read_csv('report_2016_02_01-2016_12_01.csv', converters=converters, 
                     parse_dates=parse_dates, dtype=dtype, chunksize=1000000)

In [92]:
data_dict.index.values

array([u'Ad group ID', u'Ad group', u'Campaign ID', u'Campaign',
       u'Country/Territory', u'Day', u'Device', u'Category (1st level)',
       u'Category (2nd level)', u'Category (3rd level)',
       u'Category (4th level)', u'Category (5th level)',
       u'Product type (1st level)', u'Product type (2nd level)',
       u'Product type (3rd level)', u'Product type (4th level)',
       u'Product type (5th level)', u'Custom label 0', u'Custom label 1',
       u'Custom label 2', u'Custom label 3', u'Custom label 4', u'Brand',
       u'Item Id', u'Impressions', u'Clicks', u'Conversions',
       u'Cross-device conv.', u'Total conv. value', u'Cost',
       u'Click share', u'Search Impr. share', u'CTR', u'Conv. rate'], dtype=object)

In [98]:
!head report_2016_02_01-2016_12_01.csv

Ad group ID,Ad group,Brand,Campaign ID,Campaign,Category (1st level),Category (2nd level),Category (3rd level),Category (4th level),Category (5th level),Clicks,Conv. rate,Conversions,Total conv. value,Cost,Country/Territory,Cross-device conv.,CTR,Custom label 0,Custom label 1,Custom label 2,Custom label 3,Custom label 4,Day,Device,Impressions,Item Id,Product type (1st level),Product type (2nd level),Product type (3rd level),Product type (4th level),Product type (5th level),Click share,Search Impr. share
17601222633,Marken_Michael-Kors,michael kors,201384633,92_Shopping_Marken,Bekleidung & Accessoires,Bekleidung,Bademode, --, --,0,0.00%,0.0,0.0,0,2276,0.0,0.00%, --, --, --, --, --,2016-03-16,Computers,0, --,sport,damen,bade und beach,bikinis mix & match,bikini-tops,< 10%,100.00%
17601222633,Marken_Michael-Kors,michael kors,201384633,92_Shopping_Marken,Bekleidung & Accessoires,Bekleidung,Bademode, --, --,0,0.00%,0.0,0.0,0,2276,0.0,0.00%, --, --, --, --, --,2016-04-13,Computers,0, --,sport,damen,bade und beach,bikinis mix & match,bikini-tops,< 10%,91.23%
17601222633,Marken_Michael-Kors,michael kors,201384633,92_Shopping_Marken,Bekleidung & Accessoires,Bekleidung,Bademode, --, --,0,0.00%,0.0,0.0,0,2276,0.0,0.00%, --, --, --, --, --,2016-05-07,Computers,0, --,sport,damen,bade und beach,kleider & tuniken, --,< 10%,53.57%
17601222633,Marken_Michael-Kors,michael kors,201384633,92_Shopping_Marken,Bekleidung & Accessoires,Bekleidung,Shirts & Tops, --, --,0,0.00%,0.0,0.0,0,2276,0.0,0.00%, --, --, --, --, --,2016-06-26,Computers,0, --,damen,blusen & tuniken,tuniken, --, --,< 10%, --
17601222633,Marken_Michael-Kors,michael kors,201384633,92_Shopping_Marken,Bekleidung & Accessoires,Bekleidung,Bademode, --, --,0,0.00%,0.0,0.0,0,2276,0.0,0.00%, --, --, --, --, --,2016-06-26,Computers,0, --,sport,damen,bademode,strandmode,strandhosen,< 10%,< 10%
17601222633,Marken_Michael-Kors,michael kors,201384633,92_Shopping_Marken,Bekleidung & Accessoires,Bekleidung,Bademode, --, --,0,0.00%,0.0,0.0,0,2276,0.0,0.00%, --, --, --, --, --,2016-06-28,Computers,0, --,sport,damen,bademode,strandmode,strandkleider,< 10%,87.27%
17601222633,Marken_Michael-Kors,michael kors,201384633,92_Shopping_Marken,Bekleidung & Accessoires,Bekleidung,Bademode, --, --,0,0.00%,0.0,0.0,0,2276,0.0,0.00%, --, --, --, --, --,2016-07-08,Computers,0, --,sport,damen,bademode,strandmode,strandkleider,< 10%,94.87%
17601222633,Marken_Michael-Kors,michael kors,201384633,92_Shopping_Marken,Bekleidung & Accessoires,Bekleidung,Bademode, --, --,0,0.00%,0.0,0.0,0,2276,0.0,0.00%, --, --, --, --, --,2016-07-31,Computers,0, --,sport,damen,bademode,strandmode,strandkleider,< 10%,50.00%
17601222633,Marken_Michael-Kors,michael kors,201384633,92_Shopping_Marken,Bekleidung & Accessoires,Bekleidung,Bademode, --, --,0,0.00%,0.0,0.0,0,2276,0.0,0.00%, --, --, --, --, --,2016-08-06,Computers,0, --,sport,damen,bademode,bikinis,bikini-oberteile,< 10%,77.14%

In [97]:
a1.head()

,Ad group ID,Ad group,Brand,Campaign ID,Campaign,Category (1st level),Category (2nd level),Category (3rd level),Category (4th level),Category (5th level),...,Device,Impressions,Item Id,Product type (1st level),Product type (2nd level),Product type (3rd level),Product type (4th level),Product type (5th level),Click share,Search Impr. share
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,< 10%,91.23%
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,< 10%,53.57%
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,1,1,1,2,1,< 10%,--
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,3,2,< 10%,< 10%
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,3,3,< 10%,87.27%

In [19]:
for i,ch in enumerate(reader):
    print i
    ch=ch[data_dict.index.values]
    ch.to_csv('report_20160201_20161201_star_{:02d}.csv'.format(i),
              index=True,header=False, encoding='utf-8', date_format='%Y-%m-%d')

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45

In [9]:
df_mg=pd.concat(dfs)
# need to change to drop original index or have duplicates!

In [ ]:
#need to save lookups

In [11]:
del dfs

In [10]:
df_mg.to_pickle('report_2016_09_01-2016_12_01.pkl')

In [5]:
df_mg=pd.read_pickle('report_2016_09_01-2016_12_01.pkl')

In [18]:
z1=lookups_df.set_index(['id_name', 'id_index'])
cats = z1.index.levels[0].values
for c in cats:
    df_mg[c] = df_mg[c].map(z1.id.xs(c))

In [48]:
df_mg.reset_index(drop=True,inplace=True)

In [53]:
df_mg['Conv. rate'].max()

9.0

In [51]:
df_mg[df_mg['CTR']>1].head().T

,4243,13035,15066,15475,16465
Ad group ID,18790228953,33584868753,33584887833,33584869113,33584881353
Ad group,Marken_Armani,reebok,baldessarini,bogner,shiseido
Brand,giorgio armani cosmetics,reebok,baldessarini,bogner,shiseido
Campaign ID,201384633,644232844,644232844,644232844,644232844
Campaign,92_Shopping_Marken,camato Designer,camato Designer,camato Designer,camato Designer
Category (1st level),Gesundheit & Schönheit,Bekleidung & Accessoires,Gesundheit & Schönheit,Bekleidung & Accessoires,Gesundheit & Schönheit
Category (2nd level),Körperpflege,Bekleidung,Körperpflege,Bekleidung,Körperpflege
Category (3rd level),Kosmetika,Sportbekleidung,Kosmetika,Sportbekleidung,Kosmetika
Category (4th level),Make-up,--,Badeartikel,--,Hautpflege
Category (5th level),Augen,--,Waschlotion,--,Lotion & Feuchtigkeitscremes
Clicks,2,2,2,2,2
Conv. rate,0,0,0,0,0
Conversions,0,0,0,0,0
Total conv. value,0,0,0,0,0
Cost,540000,20000,1.54e+06,420000,560000
Country/Territory,2276,2276,2276,2276,2276
Cross-device conv.,0,0,0,0,0
CTR,2,2,2,2,2
Custom label 0,--,--,--,--,--
Custom label 1,--,--,--,--,--
Custom label 2,--,--,--,--,--
Custom label 3,--,--,--,--,--
Custom label 4,--,--,--,--,--
Day,2016-09-05 00:00:00,2016-09-03 00:00:00,2016-10-01 00:00:00,2016-11-15 00:00:00,2016-09-16 00:00:00
Device,Mobile devices with full browsers,Computers,Tablets with full browsers,Tablets with full browsers,Tablets with full browsers
Impressions,1,1,1,1,1
Item Id,9095153844225,9095464550401,289762426594640,9081508429825,9113206554625
Product type (1st level),beauty,sport,beauty,sport,beauty
Product type (2nd level),make-up,damen,herren,damen,gesichtspflege
Product type (3rd level),augen,sportfashion,körperpflege,sportfashion,tagespflege
Product type (4th level),mascara,schuhe,duschgel,jacken,feuchtigkeitspflege
Product type (5th level),--,--,--,--,--
Click share,--,--,--,--,--
Search Impr. share,--,--,--,--,--

In [47]:
df_mg.head()

,Ad group ID,Ad group,Brand,Campaign ID,Campaign,Category (1st level),Category (2nd level),Category (3rd level),Category (4th level),Category (5th level),...,Device,Impressions,Item Id,Product type (1st level),Product type (2nd level),Product type (3rd level),Product type (4th level),Product type (5th level),Click share,Search Impr. share
0,33584867553,sioux,sioux,644232844,camato Designer,Bekleidung & Accessoires,Schuhe,--,--,--,...,Mobile devices with full browsers,1,9079449255937,damen,schuhe,slipper,--,--,--,--
1,33584864193,dsquared2,dsquared2,644232844,camato Designer,Bekleidung & Accessoires,Bekleidung,Hosen,--,--,...,Tablets with full browsers,1,9122948120577,luxus,herren,fashion,jeans,--,--,--
2,33584870313,boss orange,boss orange,644232844,camato Designer,Bekleidung & Accessoires,Bekleidung,Überbekleidung,Mäntel & Jacken,--,...,Computers,8,9100566724609,damen,blazer,klassische blazer,--,--,--,--
3,33584895873,jimmy choo,jimmy choo,644232844,camato Designer,Bekleidung & Accessoires,"Handtaschen, Geldbörsen & Etuis",Handtaschen,--,--,...,Tablets with full browsers,3,9089706590209,luxus,damen,taschen,clutches,--,--,--
4,33584861553,gerry weber,gerry weber,644232844,camato Designer,Bekleidung & Accessoires,Bekleidung,Kleider,--,--,...,Computers,1,9110532128769,damen,kleider,etuikleider,--,--,--,--

In [20]:
desc=df_mg.describe(include='all').T

In [39]:
a=df_mg[df_mg['Clicks']>0].sample(50).copy()

In [46]:
df_mg.loc[42440,'CTR']

42440    0.0
42440    0.0
42440    0.4
42440    0.0
42440    2.0
42440    0.0
42440    0.0
42440    0.0
42440    0.0
42440    0.0
42440    0.0
42440    0.0
42440    0.0
42440    0.0
42440    0.0
Name: CTR, dtype: float64

In [40]:
a['ctr1']=np.round(a['Clicks'].div(a['Impressions']).values,4)

In [41]:
a[['CTR','ctr1']]

           CTR    ctr1
545099  0.0333  0.0333
904670  0.0769  0.0769
946954  0.1667  0.1667
272642  0.5000  0.5000
213827  0.1667  0.1667
155644  0.5000  0.5000
511548  0.0541  0.0541
69952   0.1724  0.1724
613386  0.2222  0.2222
998246  0.1111  0.1111
771529  0.1667  0.1667
818832  0.0169  0.0169
963094  0.1429  0.1429
736874  1.0000  1.0000
598517  1.0000  1.0000
131852  0.0909  0.0909
42440   2.0000  2.0000
86917   0.4286  0.4286
796879  0.2500  0.2500
928832  0.2500  0.2500
881520  0.0750  0.0750
604920  0.0455  0.0455
800923  0.2500  0.2500
259410  1.0000  1.0000
167467  0.1111  0.1111
372316  0.0588  0.0588
940235  0.0909  0.0909
327992  0.0143  0.0143
908432  1.0000  1.0000
773668  0.1429  0.1429
189170  0.0132  0.0132
871882  0.0370  0.0370
266487  0.0137  0.0137
536784  1.0000  1.0000
310527  0.1667  0.1667
212237  0.2500  0.2500
100234  0.1333  0.1333
254649  0.0833  0.0833
805954  0.5000  0.5000
517268  0.2500  0.2500
914102  0.0152  0.0152
681263  0.1053  0.1053
341926  0.1429  0.1429
971789  0.2000  0.2000
252124  0.0097  0.0097
268132  0.1250  0.1250
208880  0.5000  0.5000
391705  0.1000  0.1000
582656  0.0345  0.0345
878625  0.0208  0.0208

In [21]:
desc

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
Ad group ID,14466684,2723,33584860953,346002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ad group,14466684,1611,marc o'polo,545346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brand,14466684,1144,marc o'polo,559842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Campaign ID,14466684,6,644232844,8544642,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Campaign,14466684,6,camato Designer,8544642,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Category (1st level),14466684,11,Bekleidung & Accessoires,11953652,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Category (2nd level),14466684,35,Bekleidung,9548087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Category (3rd level),14466684,70,Überbekleidung,3037310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Category (4th level),14466684,96,--,8073428,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Category (5th level),14466684,56,--,13179366,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Clicks,1.44667e+07,NaN,NaN,NaN,NaN,NaN,0.0701528,1.12,0,0,0,0,707
Conv. rate,1.44667e+07,NaN,NaN,NaN,NaN,NaN,0.000797561,0.0289169,0,0,0,0,9
Conversions,1.44667e+07,NaN,NaN,NaN,NaN,NaN,0.00112134,0.036729,0,0,0,0,9
Total conv. value,1.44667e+07,NaN,NaN,NaN,NaN,NaN,0.236039,12.1706,0,0,0,0,6407.95
Cost,1.44667e+07,NaN,NaN,NaN,NaN,NaN,45038.6,534177,0,0,0,0,3.3239e+08
Country/Territory,14466684,1,2276,14466684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cross-device conv.,1.44667e+07,NaN,NaN,NaN,NaN,NaN,6.08294e-06,0.00771914,0,0,0,0,17
CTR,1.44667e+07,NaN,NaN,NaN,NaN,NaN,0.0110987,0.0854318,0,0,0,0,3
Custom label 0,14466684,1,--,14466684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Custom label 1,14466684,1,--,14466684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Custom label 2,14466684,1,--,14466684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Custom label 3,14466684,1,--,14466684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Custom label 4,14466684,1,--,14466684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Day,14466684,92,2016-09-04 00:00:00,216837,2016-09-01 00:00:00,2016-12-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Device,14466684,4,Computers,5645044,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Impressions,1.44667e+07,NaN,NaN,NaN,NaN,NaN,4.58235,41.2058,0,0,1,3,18955
Item Id,14466684,218793,--,3824616,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Product type (1st level),14466684,9,damen,6206903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Product type (2nd level),14466684,53,jacken,1133264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Product type (3rd level),14466684,332,outdoor,429224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Product type (4th level),14466684,323,--,8918839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Product type (5th level),14466684,44,--,13933816,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Click share,14466684,8689,--,10826862,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Search Impr. share,14466684,8800,--,11213464,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
desc.to_csv('report_20160901_20161201_desc.csv',encoding='utf-8')

In [16]:
z1.index.levels[0]

Index([u'Ad group', u'Ad group ID', u'Brand', u'Campaign', u'Campaign ID',
       u'Category (1st level)', u'Category (2nd level)',
       u'Category (3rd level)', u'Category (4th level)',
       u'Category (5th level)', u'Country/Territory', u'Custom label 0',
       u'Custom label 1', u'Custom label 2', u'Custom label 3',
       u'Custom label 4', u'Device', u'Item Id', u'Product type (1st level)',
       u'Product type (2nd level)', u'Product type (3rd level)',
       u'Product type (4th level)', u'Product type (5th level)'],
      dtype='object', name=u'id_name')

In [9]:
lookups_df.head()

    id_name                 id  id_index
0  Ad group         0039 italy       380
1  Ad group           120%lino       515
2  Ad group         4 barra 12      1373
3  Ad group               4lou      1445
4  Ad group  7 for all mankind       461

In [20]:
df_mg.dtypes

Ad group ID                          int64
Ad group                             int64
Brand                                int64
Campaign ID                          int64
Campaign                             int64
Category (1st level)                 int64
Category (2nd level)                 int64
Category (3rd level)                 int64
Category (4th level)                 int64
Category (5th level)                 int64
Clicks                              uint16
Conv. rate                         float64
Conversions                         uint16
Total conv. value                  float64
Cost                               float32
Country/Territory                    int64
Cross-device conv.                  uint16
CTR                                float64
Custom label 0                       int64
Custom label 1                       int64
Custom label 2                       int64
Custom label 3                       int64
Custom label 4                       int64
Day                         datetime64[ns]
Device                               int64
Impressions                         uint16
Item Id                              int64
Product type (1st level)             int64
Product type (2nd level)             int64
Product type (3rd level)             int64
Product type (4th level)             int64
Product type (5th level)             int64
Click share                         object
Search Impr. share                  object
dtype: object

In [20]:
lookups_df1 = pd.concat({id: pd.Series(lookups[id]) for id in lookups}).reset_index()
lookups_df1.columns=['id_name','id', 'id_index']

In [21]:
lookups_df1.head()

    id_name          id  id_index
0  Ad group  0039 italy      1375
1  Ad group    120%lino       944
2  Ad group   365 italy      1820
3  Ad group  4 barra 12      2035
4  Ad group        4lou      1979

In [14]:
lookups_df.to_pickle('lookup_report_2016_09_01-2016_12_01.pkl')

In [22]:
lookups_df1.to_pickle('lookup_report_20160201_20161201.pkl')

In [23]:
lookups_df1.to_csv('lookup_report_20160201_20161201.csv', encoding='utf-8')

In [4]:
lookups_df=pd.read_pickle('lookup_report_2016_09_01-2016_12_01.pkl')

Produce histogram of impressions by each id type
sort by impressions
plot ctr and cvr

In [54]:
def calc_metrics(df,gps):
    met=df.groupby(gps)[['Impressions','Clicks','Conversions', 'Cross-device conv.', 'Total conv. value']].sum()
    met['CTR']=met['Clicks'].div(met['Impressions'])
    met['CVR']=met['Conversions'].div(met['Clicks'])
    met.sort_values('Impressions',ascending=False, inplace=True)
    return met

In [55]:
a1=calc_metrics(df_mg,'Brand')

In [57]:
cat1=calc_metrics(df_mg,'Category (1st level)')

In [62]:
cat1.plot(kind='bar',y=['Impressions','CTR','CVR'],subplots=True)

array([<matplotlib.axes._subplots.AxesSubplot object at 0x000000001D6859E8>,
       <matplotlib.axes._subplots.AxesSubplot object at 0x000000001D801CF8>,
       <matplotlib.axes._subplots.AxesSubplot object at 0x000000001D909B38>], dtype=object)

In [58]:
cat1.head(20)

,Impressions,Clicks,Conversions,Cross-device conv.,Total conv. value,CTR,CVR
Category (1st level),,,,,,,
Bekleidung & Accessoires,56869009.0,862455.0,12407.0,88.0,3.037757e+06,0.015166,0.014386
Gesundheit & Schönheit,5934291.0,105002.0,3058.0,0.0,2.146530e+05,0.017694,0.029123
Sportartikel,1339465.0,15049.0,226.0,0.0,5.718204e+04,0.011235,0.015018
Heim & Garten,1186823.0,19424.0,339.0,0.0,6.087939e+04,0.016366,0.017453
Taschen & Gepäck,899721.0,11816.0,166.0,0.0,4.235478e+04,0.013133,0.014049
Baby & Kleinkind,38793.0,736.0,20.0,0.0,8.001600e+02,0.018972,0.027174
Bürobedarf,17140.0,321.0,4.0,0.0,8.807800e+02,0.018728,0.012461
Elektronik,2770.0,34.0,0.0,0.0,0.000000e+00,0.012274,0.000000
--,2670.0,35.0,1.0,0.0,8.995000e+01,0.013109,0.028571
Kunst & Unterhaltung,411.0,5.0,0.0,0.0,0.000000e+00,0.012165,0.000000
Religion & Feierlichkeiten,246.0,1.0,1.0,0.0,1.039400e+02,0.004065,1.000000

In [23]:
lookups_df1=lookups_df.set_index(['id_name','id_index'])

In [59]:
a2=a1.reset_index()

In [60]:
a2['Brand_name']=a2['Brand'].map(lookups_df1.xs('Brand').id)

In [61]:
a2.head()

,Brand,Impressions,Clicks,Conversions,Cross-device conv.,Total conv. value,CTR,CVR,Brand_name
0,19,5653465.0,132052.0,674.0,6.0,186885.390566,0.023358,0.005104,wellensteyn
1,21,2229866.0,36833.0,674.0,0.0,146943.010303,0.016518,0.018299,marc o'polo
2,58,2198560.0,31683.0,452.0,0.0,134021.030163,0.014411,0.014266,hugo
3,63,1895228.0,19856.0,204.0,0.0,118038.810158,0.010477,0.010274,moncler
4,40,1724266.0,24891.0,301.0,0.0,93540.389893,0.014436,0.012093,boss

In [63]:
a2.describe()

/home/sean/anaconda2/lib/python2.7/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,Brand,Impressions,Clicks,Conversions,Cross-device conv.,Total conv. value,CTR,CVR
count,1144.00000,1.144000e+03,1144.000000,1144.000000,1144.000000,1144.000000,1138.000000,1032.000000
mean,571.50000,5.794697e+04,887.131119,14.180070,0.076923,2984.878167,0.016644,inf
std,330.38866,2.481357e+05,4698.710545,48.244519,0.865005,11579.911007,0.015730,NaN
min,0.00000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,285.75000,4.690000e+02,6.000000,0.000000,0.000000,0.000000,NaN,NaN
50%,571.50000,2.987000e+03,45.500000,1.000000,0.000000,77.400002,NaN,NaN
75%,857.25000,2.398975e+04,335.500000,7.000000,0.000000,1514.622499,NaN,NaN
max,1143.00000,5.653465e+06,132052.000000,674.000000,17.000000,186885.390566,0.263158,inf

1144 brands, max 5 million impressions

In [73]:
a2[:50].plot(x='Brand_name',y=['Impressions','CTR','CVR'],subplots=True,kind='bar')

array([<matplotlib.axes._subplots.AxesSubplot object at 0x7f8a4fbcdcd0>,
       <matplotlib.axes._subplots.AxesSubplot object at 0x7f8a4f44b8d0>,
       <matplotlib.axes._subplots.AxesSubplot object at 0x7f8a4f34f5d0>], dtype=object)

In [59]:
import matplotlib.pyplot as plt

In [66]:
f=plt.figure()

In [70]:
z=plt.subplot('311')

In [60]:
%matplotlib

Using matplotlib backend: Qt4Agg

In [53]:
a3

,Brand,Impressions,Clicks,Conversions,Cross-device conv.,Total conv. value,CTR,CVR,Brand_name
0,19,5653465.0,132052.0,674.0,6.0,186885.390566,0.023358,0.005104,wellensteyn
1,21,2229866.0,36833.0,674.0,0.0,146943.010303,0.016518,0.018299,marc o'polo
2,58,2198560.0,31683.0,452.0,0.0,134021.030163,0.014411,0.014266,hugo
3,63,1895228.0,19856.0,204.0,0.0,118038.810158,0.010477,0.010274,moncler
4,40,1724266.0,24891.0,301.0,0.0,93540.389893,0.014436,0.012093,boss
5,8,1666476.0,14575.0,296.0,0.0,64470.710548,0.008746,0.020309,paul green
6,38,1630998.0,19760.0,134.0,8.0,60419.470354,0.012115,0.006781,burberry
7,57,1313391.0,18037.0,106.0,0.0,61218.799752,0.013733,0.005877,woolrich
8,2,1232592.0,19081.0,338.0,0.0,80710.010141,0.015480,0.017714,boss orange
9,13,1200424.0,14882.0,169.0,0.0,21111.800037,0.012397,0.011356,camp david
10,69,1091993.0,22134.0,125.0,0.0,67641.249468,0.020269,0.005647,parajumpers
11,10,1064266.0,14361.0,519.0,0.0,21873.659962,0.013494,0.036140,m.a.c
12,131,945139.0,14079.0,194.0,0.0,22990.790180,0.014896,0.013779,adidas
13,15,895583.0,7977.0,213.0,0.0,61878.920076,0.008907,0.026702,kennel & schmenger
14,157,797408.0,12232.0,117.0,0.0,37783.790169,0.015340,0.009565,stone island
15,121,705430.0,7556.0,145.0,0.0,11777.290000,0.010711,0.019190,calvin klein
16,27,702655.0,9768.0,163.0,0.0,20020.329941,0.013902,0.016687,chanel
17,59,670670.0,7370.0,96.0,0.0,35760.280224,0.010989,0.013026,fire + ice
18,37,665870.0,11687.0,117.0,0.0,28499.629817,0.017551,0.010011,strellson
19,51,644793.0,10645.0,266.0,0.0,28381.669996,0.016509,0.024988,cmp

In [63]:
lookups['Category (1st level)']

{' --': 9,
 'Baby & Kleinkind': 7,
 'Bekleidung & Accessoires': 0,
 'B\xc3\xbcrobedarf': 5,
 'Elektronik': 6,
 'Gesundheit & Sch\xc3\xb6nheit': 1,
 'Heim & Garten': 3,
 'Kunst & Unterhaltung': 8,
 'Religion & Feierlichkeiten': 10,
 'Sportartikel': 2,
 'Taschen & Gep\xc3\xa4ck': 4}

In [73]:
a1.head()

    level_0            level_1     0
0  Ad group         0039 italy   380
1  Ad group           120%lino   515
2  Ad group         4 barra 12  1373
3  Ad group               4lou  1445
4  Ad group  7 for all mankind   461

In [45]:
dtype

{u'Ad group': u'np.uint16',
 u'Ad group ID': u'np.uint16',
 u'Brand': u'np.uint16',
 u'CTR': u'np.float32',
 u'Campaign': u'np.uint16',
 u'Campaign ID': u'np.uint16',
 u'Category (1st level)': u'np.uint16',
 u'Category (2nd level)': u'np.uint16',
 u'Category (3rd level)': u'np.uint16',
 u'Category (4th level)': u'np.uint16',
 u'Category (5th level)': u'np.uint16',
 u'Click share': u'str',
 u'Clicks': u'np.uint16',
 u'Conv. rate': u'np.float32',
 u'Conversions': u'np.uint16',
 u'Cost': u'np.float32',
 u'Country/Territory': u'np.uint16',
 u'Cross-device conv.': u'np.uint16',
 u'Custom label 0': u'np.uint16',
 u'Custom label 1': u'np.uint16',
 u'Custom label 2': u'np.uint16',
 u'Custom label 3': u'np.uint16',
 u'Custom label 4': u'np.uint16',
 u'Device': u'np.uint8',
 u'Impressions': u'np.uint16',
 u'Item Id': u'np.uint32',
 u'Product type (1st level)': u'np.uint16',
 u'Product type (2nd level)': u'np.uint16',
 u'Product type (3rd level)': u'np.uint16',
 u'Product type (4th level)': u'np.uint16',
 u'Product type (5th level)': u'np.uint16',
 u'Search Impr. share': u'str',
 u'Total conv. value': u'np.float32'}

In [44]:
converters

{u'Ad group': <function __main__.lookup>,
 u'Ad group ID': <function __main__.lookup>,
 u'Brand': <function __main__.lookup>,
 'CTR': <function __main__.<lambda>>,
 u'Campaign': <function __main__.lookup>,
 u'Campaign ID': <function __main__.lookup>,
 u'Category (1st level)': <function __main__.lookup>,
 u'Category (2nd level)': <function __main__.lookup>,
 u'Category (3rd level)': <function __main__.lookup>,
 u'Category (4th level)': <function __main__.lookup>,
 u'Category (5th level)': <function __main__.lookup>,
 'Conv. rate': <function __main__.<lambda>>,
 u'Country/Territory': <function __main__.lookup>,
 u'Custom label 0': <function __main__.lookup>,
 u'Custom label 1': <function __main__.lookup>,
 u'Custom label 2': <function __main__.lookup>,
 u'Custom label 3': <function __main__.lookup>,
 u'Custom label 4': <function __main__.lookup>,
 u'Device': <function __main__.lookup>,
 u'Item Id': <function __main__.lookup>,
 u'Product type (1st level)': <function __main__.lookup>,
 u'Product type (2nd level)': <function __main__.lookup>,
 u'Product type (3rd level)': <function __main__.lookup>,
 u'Product type (4th level)': <function __main__.lookup>,
 u'Product type (5th level)': <function __main__.lookup>}

In [5]:
df1=pd.read_csv('report_2016_09_01-2016_12_01.csv', nrows=2000000)

/home/sean/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [27]:

lookups['a']={}
a=do_lookup('a', np.uint16)

In [28]:
a('hello')
a('hi')

1

In [29]:
lookups

{'a': {'hello': 0, 'hi': 1}}

In [6]:
df1['Item Id'].max()

'9142330195969'

In [20]:
def cast_categ(df_inp, cat_types):
    for c in cat_types:
        df_inp[c]=df_inp[c].astype('category')

In [48]:
cast_categ(df1,cat_types)

In [25]:
cnt=df_mg.groupby([ 'Ad group', 'Ad group ID']).size()

In [52]:
cnt.shape

(2576,)

In [26]:
cnt1=cnt.groupby(level='Ad group').size()

In [31]:
cnt.xs('4 barra 12')

Ad group ID
33584830233    48
33584954193     4
dtype: int64

In [27]:
cnt1[cnt1>1]

Ad group
0039 italy                            2
120%lino                              2
4 barra 12                            2
4lou                                  2
7 for all mankind                     2
81hours                               2
a beautiful story                     2
a-k-r-i-s-                            2
abro                                  2
acca kappa                            2
acqua di parma                        2
add                                   2
adenauer                              2
adenauer & co                         2
adidas                                2
adidas by raf simons                  2
adidas by stella mccartney            2
adidas originals                      2
adidas stellasport                    2
aerin                                 2
aeronautica                           2
aeronautica militare                  2
ag jeans                              2
agl attilio giusti leombruni          2
agl-attilio giusti leombruni          2
aglini                                2
agnona                                2
aigner                                2
airfield                              2
airforce                              2
                                     ..
wood wood                             2
wood'd                                2
woolrich                              2
würth                                 2
x- socks                              2
x-socks                               2
y-3                                   2
yaya                                  2
yippie hippie                         2
yogistar                              2
young couture by barbara schwarzer    2
yves saint laurent                    2
yves saint laurent beauté             2
yves salomon                          2
z zegna                               2
zadig & voltaire fragrances           2
zarkoperfume                          2
zaubermasche                          2
zegna                                 2
zegnasport                            2
zhrill                                2
ziener                                2
zinda                                 2
zinga                                 2
zingaro                               2
zizzi                                 2
zoe karssen                           2
zoeppritz                             2
zwilling                              2
zzegna                                2
dtype: int64

In [38]:
cnt.head()

Ad group         Ad group ID
Marken_Barts     17602163553      125
Marken_Boss      17601240513    12412
Marken_Cambio    17602161273      424
Marken_Desigual  17922688713      174
Marken_Doell     17602162953       57
dtype: int64

In [36]:
cnt.reset_index()['Ad group'].isnull().sum()

0

In [32]:
df_test[['Ad group ID', 'Ad group', 'Brand']].sample(50)

       Ad group ID             Ad group                               Brand
99468  17601222753     Marken_Marc-Cain                            marccain
9072   17601240513          Marken_Boss                                boss
71515  17601229593   Marken_Marc-O'Polo                         marc o'polo
24755  17601222753     Marken_Marc-Cain                            marccain
75791  17601222753     Marken_Marc-Cain                            marccain
32600  17602244913          Marken_Rest                           strenesse
22092  17601240513          Marken_Boss                                boss
24520  17602244913          Marken_Rest                     raffaello rossi
29028  17601230193       Marken_Drykorn                             drykorn
94651  17601229593   Marken_Marc-O'Polo                    marc o'polo pure
91525  17601229593   Marken_Marc-O'Polo                         marc o'polo
63641  17601222753     Marken_Marc-Cain                            marccain
62551  17601222753     Marken_Marc-Cain                            marccain
93134  17601222753     Marken_Marc-Cain                            marccain
57667  17601229593   Marken_Marc-O'Polo                         marc o'polo
94688  17601240513          Marken_Boss                         boss orange
46907  17601230193       Marken_Drykorn                             drykorn
13174  17602244913          Marken_Rest                                yaya
82236  17601222753     Marken_Marc-Cain                            marccain
17976  17601240513          Marken_Boss                                hugo
97071  17601230193       Marken_Drykorn                             drykorn
93933  17601222753     Marken_Marc-Cain                            marccain
36881  17601240513          Marken_Boss                                boss
69192  17601222753     Marken_Marc-Cain                            marccain
70220  17601222753     Marken_Marc-Cain                            marccain
10833  17602244913          Marken_Rest                adidas by raf simons
51279  17601222633  Marken_Michael-Kors                        michael kors
78204  17601222753     Marken_Marc-Cain                            marccain
4201   17601240513          Marken_Boss                                hugo
68089  17601229593   Marken_Marc-O'Polo                    marc o'polo pure
67896  17601222753     Marken_Marc-Cain                            marccain
25448  17601240513          Marken_Boss                                hugo
80118  17601222753     Marken_Marc-Cain                            marccain
9247   17602244913          Marken_Rest  young couture by barbara schwarzer
79214  17601229593   Marken_Marc-O'Polo                         marc o'polo
40966  17601222753     Marken_Marc-Cain                            marccain
31263  17601229593   Marken_Marc-O'Polo                         marc o'polo
49227  17601240513          Marken_Boss                                boss
78434  17601222753     Marken_Marc-Cain                            marccain
71881  17601222753     Marken_Marc-Cain                            marccain
20491  17602244913          Marken_Rest                           artigiano
17045  17601222753     Marken_Marc-Cain                            marccain
62302  17601229593   Marken_Marc-O'Polo                         marc o'polo
42672  17601222753     Marken_Marc-Cain                            marccain
72236  17601222633  Marken_Michael-Kors                        michael kors
40231  17601222753     Marken_Marc-Cain                            marccain
88285  17601222753     Marken_Marc-Cain                            marccain
38939  17601222753     Marken_Marc-Cain                            marccain
93013  17601240513          Marken_Boss                                hugo
29885  17601240513          Marken_Boss                                boss

In [10]:
df_test.describe().T

,count,mean,std,min,25%,50%,75%,max
Clicks,100000.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0
Conversions,100000.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0
Total conv. value,100000.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0
Cost,100000.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0
Country/Territory,100000.0,2276.00000,0.000000,2276.0,2276.0,2276.0,2276.0,2276.0
Cross-device conv.,100000.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0
Impressions,100000.0,0.00003,0.005477,0.0,0.0,0.0,0.0,1.0

In [7]:
dt

                 column_name data_type
0                Ad group ID  category
1                   Ad group  category
2                      Brand  category
3                Campaign ID  category
4                   Campaign  category
5       Category (1st level)  category
6       Category (2nd level)  category
7       Category (3rd level)  category
8       Category (4th level)  category
9       Category (5th level)  category
10                    Clicks       NaN
11                Conv. rate       NaN
12               Conversions       NaN
13         Total conv. value       NaN
14                      Cost       NaN
15         Country/Territory       NaN
16        Cross-device conv.       NaN
17                       CTR       NaN
18            Custom label 0  category
19            Custom label 1  category
20            Custom label 2  category
21            Custom label 3  category
22            Custom label 4  category
23                       Day       NaN
24                    Device  category
25               Impressions       NaN
26                   Item Id  category
27  Product type (1st level)  category
28  Product type (2nd level)  category
29  Product type (3rd level)  category
30  Product type (4th level)  category
31  Product type (5th level)  category
32               Click share       NaN
33        Search Impr. share       NaN