In [154]:
import pandas as pd
import numpy as np
from collections import OrderedDict
import re
from scipy.stats import beta
import matplotlib.pyplot as plt
import sqlalchemy

In [25]:
%matplotlib

Using matplotlib backend: Qt4Agg

# read data and convert the data to lookups for categories

In [156]:
engine = sqlalchemy.create_engine('sqlite:///crealytics.db')

In [ ]:
data_sql="""
select 
     ad_group_id,
     ad_group,
     campaign_id,
     strftime('%W',day) week,
     strftime('%m',day) month,
     strftime('%w',day) day_week,
     device,
     category_1st_level,
     category_2nd_level,
     category_3rd_level,
     category_4th_level,
     category_5th_level,
     product_type_1st_level,
     product_type_2nd_level,
     product_type_3rd_level,
     product_type_4th_level,
     product_type_5th_level,
     brand,
     item_id,
     sum(impressions) impressions,
     sum(clicks) clicks,
     sum(conversions) conversions,
     sum(cross_device_conv) cross_device_conv,
     sum(total_conv_value) total_conv_value,
     sum(cost) cost
     
from 
    report_20160201_20161201
group by 
     ad_group_id,
     ad_group,
     campaign_id,
     week,
     month,
     day_week,
     device,
     category_1st_level,
     category_2nd_level,
     category_3rd_level,
     category_4th_level,
     category_5th_level,
     product_type_1st_level,
     product_type_2nd_level,
     product_type_3rd_level,
     product_type_4th_level,
     product_type_5th_level,
     brand,
     item_id
"""

In [ ]:
data_df=pd.read_sql_query(data_sql,engine)

In [164]:
df.head().T

,0,1,2,3,4
ad_group_id,0,0,0,0,0
ad_group,0,0,0,0,0
campaign_id,0,0,0,0,0
day,2016-03-16,2016-04-13,2016-05-07,2016-06-26,2016-06-26
month,03,04,05,06,06
week,11,15,18,25,25
day_week,3,3,6,0,0
device,0,0,0,0,0
category_1st_level,0,0,0,0,0
category_2nd_level,0,0,0,0,0
category_3rd_level,0,0,0,1,0
category_4th_level,0,0,0,0,0
category_5th_level,0,0,0,0,0
product_type_1st_level,0,0,0,1,0
product_type_2nd_level,0,0,0,1,0
product_type_3rd_level,0,0,0,1,2
product_type_4th_level,0,0,1,2,3
product_type_5th_level,0,0,1,1,2
brand,0,0,0,0,0
item_id,0,0,0,0,0
impressions,0,0,0,0,0
clicks,0,0,0,0,0
conversions,0,0,0,0,0
cross_device_conv,0,0,0,0,0
total_conv_value,0,0,0,0,0
cost,0,0,0,0,0
click_share,< 10%,< 10%,< 10%,< 10%,< 10%
search_impr_share,100.00%,91.23%,53.57%,--,< 10%

In [5]:
filename='report_2016_02_01-2016_12_01'

In [4]:
!ls -l

total 16121840
-rw-rw-r-- 1 sean sean       88495 Jan  3 01:33 crealytics.ipynb
-rw-rw-r-- 1 sean sean         275 Jan  2 22:17 crealytics.py
-rw-rw-r-- 1 sean sean     2750153 Jan  2 22:17 report_2016_02_01-2016_12_01_10000.csv
-rw-rw-r-- 1 sean sean 12575272973 Jan  2 22:11 report_2016_02_01-2016_12_01.csv
-rw-rw-r-- 1 sean sean        8715 Jan  3 01:47 report_2016_02_01-2016_12_01_datadict.csv
-rw-rw-r-- 1 sean sean  3930615902 Jan  2 22:22 report_2016_09_01-2016_12_01.csv

In [2]:
!ls -l

total 3501007
-rwxrwx--- 1 Sean Violante mkpasswd   13680957 Dec  9 12:13 ASOS_UK_bm_report_20161019.xlsx
-rwxrwx--- 1 Sean Violante mkpasswd     849297 Nov 30 14:00 all-reports.csv
-rwxrwx--- 1 Sean Violante mkpasswd     175541 Dec  1 15:10 all-reports.xlsx
-rwxrwx--- 1 Sean Violante mkpasswd     145184 Jan  4 13:11 crealytics.ipynb
-rwxrwx--- 1 Sean Violante mkpasswd        288 Jan  4 13:11 crealytics.py
-rwxrwx--- 1 Sean Violante mkpasswd       9594 Jan  4 13:11 datadict.xlsx
-rwxrwx--- 1 Sean Violante mkpasswd        150 Jan  4 13:12 desktop.ini
-rwxrwx--- 1 Sean Violante mkpasswd    7417274 Jan  4 08:30 lookup_report_2016_09_01-2016_12_01.pkl
-rwxrwx--- 1 Sean Violante mkpasswd 3562083151 Jan  4 08:39 report_2016_09_01-2016_12_01.pkl
-rwxrwx--- 1 Sean Violante mkpasswd      16805 Nov 29 20:24 shopping-performance-report.csv
-rwxrwx--- 1 Sean Violante mkpasswd      12164 Nov 30 13:48 shopping-performance-report.xlsx
-rwxrwx--- 1 Sean Violante mkpasswd        402 Dec  1 14:51 shopping.py
-rwxrwx--- 1 Sean Violante mkpasswd     617472 Nov 30 12:57 taxonomy-with-ids.en-US.xls

In [2]:
df_test=pd.read_csv('report_2016_02_01-2016_12_01.csv.gz',nrows=100000)

In [64]:
reader = pd.read_csv('report_2016_02_01-2016_12_01.csv', chunksize=1000000)

In [28]:
cat_types

array(['Ad group ID', 'Ad group', 'Brand', 'Campaign ID', 'Campaign',
       'Category (1st level)', 'Category (2nd level)',
       'Category (3rd level)', 'Category (4th level)',
       'Category (5th level)', 'Country/Territory', 'Custom label 0',
       'Custom label 1', 'Custom label 2', 'Custom label 3',
       'Custom label 4', 'Device', 'Item Id', 'Product type (1st level)',
       'Product type (2nd level)', 'Product type (3rd level)',
       'Product type (4th level)', 'Product type (5th level)'], dtype=object)

In [6]:

def do_lookup(cat, typ):
    lookups[cat]={}
    
    def lookup( val):
        if val not in lookups[cat]:
            lookups[cat][val]=typ(len(lookups[cat]))
        return lookups[cat][val]
    return lookup

In [7]:
data_dict=pd.read_excel('datadict.xlsx',usecols=range(6), index_col=1)
id_types=data_dict.index[data_dict.data_class=='id'].values
data_dict.loc[data_dict.data_type.notnull(), 'data_type'] = \
    data_dict.loc[data_dict.data_type.notnull(), 'data_type'].map(eval)

In [8]:
create_sqlite = 'CREATE TABLE report_20160201_20161201 ( row_id INTEGER PRIMARY KEY, '
col_def =['{} {}'.format(re.sub('[/\(\.\)]','',tup[0]).replace(' ','_').replace('-','_').lower(), tup[1]) for tup in  data_dict.sqlite.iteritems()]
create_sqlite = create_sqlite + ','.join(col_def) + ')'
create_sqlite

'CREATE TABLE report_20160201_20161201 ( row_id INTEGER PRIMARY KEY, ad_group_id INTEGER,ad_group INTEGER,campaign_id INTEGER,campaign INTEGER,countryterritory INTEGER,day TEXT,device INTEGER,category_1st_level INTEGER,category_2nd_level INTEGER,category_3rd_level INTEGER,category_4th_level INTEGER,category_5th_level INTEGER,product_type_1st_level INTEGER,product_type_2nd_level INTEGER,product_type_3rd_level INTEGER,product_type_4th_level INTEGER,product_type_5th_level INTEGER,custom_label_0 INTEGER,custom_label_1 INTEGER,custom_label_2 INTEGER,custom_label_3 INTEGER,custom_label_4 INTEGER,brand INTEGER,item_id INTEGER,impressions INTEGER,clicks INTEGER,conversions INTEGER,cross_device_conv INTEGER,total_conv_value REAL,cost REAL,click_share TEXT,search_impr_share TEXT,ctr REAL,conv_rate REAL)'

In [17]:
lookups={}
converters={id:do_lookup(id, data_dict.at[id, 'data_type']) for id in id_types  }
converters['CTR'] = lambda(x): np.float32(x[:-1])/100
converters['Conv. rate'] =  lambda(x): np.float32(x[:-1])/100
converters['Total conv. value'] =  lambda(x): np.float32(x.replace(',',''))

parse_dates=['Day']
dtype={ nam: data_dict.at[nam, 'data_type']  for nam in data_dict.index[data_dict.data_type.notnull()]}
# http://stackoverflow.com/a/1176179

 wc report_2016_09_01-2016_12_01.csv 
  14466685  282408421 3930615902 report_2016_09_01-2016_12_01.csv

In [6]:
reader = pd.read_csv('report_2016_09_01-2016_12_01.csv', converters=converters, 
                     parse_dates=parse_dates, dtype=dtype, chunksize=1000000)

In [18]:
reader = pd.read_csv('report_2016_02_01-2016_12_01.csv', converters=converters, 
                     parse_dates=parse_dates, dtype=dtype, chunksize=1000000)

In [92]:
data_dict.index.values

array([u'Ad group ID', u'Ad group', u'Campaign ID', u'Campaign',
       u'Country/Territory', u'Day', u'Device', u'Category (1st level)',
       u'Category (2nd level)', u'Category (3rd level)',
       u'Category (4th level)', u'Category (5th level)',
       u'Product type (1st level)', u'Product type (2nd level)',
       u'Product type (3rd level)', u'Product type (4th level)',
       u'Product type (5th level)', u'Custom label 0', u'Custom label 1',
       u'Custom label 2', u'Custom label 3', u'Custom label 4', u'Brand',
       u'Item Id', u'Impressions', u'Clicks', u'Conversions',
       u'Cross-device conv.', u'Total conv. value', u'Cost',
       u'Click share', u'Search Impr. share', u'CTR', u'Conv. rate'], dtype=object)

In [98]:
!head report_2016_02_01-2016_12_01.csv

Ad group ID,Ad group,Brand,Campaign ID,Campaign,Category (1st level),Category (2nd level),Category (3rd level),Category (4th level),Category (5th level),Clicks,Conv. rate,Conversions,Total conv. value,Cost,Country/Territory,Cross-device conv.,CTR,Custom label 0,Custom label 1,Custom label 2,Custom label 3,Custom label 4,Day,Device,Impressions,Item Id,Product type (1st level),Product type (2nd level),Product type (3rd level),Product type (4th level),Product type (5th level),Click share,Search Impr. share
17601222633,Marken_Michael-Kors,michael kors,201384633,92_Shopping_Marken,Bekleidung & Accessoires,Bekleidung,Bademode, --, --,0,0.00%,0.0,0.0,0,2276,0.0,0.00%, --, --, --, --, --,2016-03-16,Computers,0, --,sport,damen,bade und beach,bikinis mix & match,bikini-tops,< 10%,100.00%
17601222633,Marken_Michael-Kors,michael kors,201384633,92_Shopping_Marken,Bekleidung & Accessoires,Bekleidung,Bademode, --, --,0,0.00%,0.0,0.0,0,2276,0.0,0.00%, --, --, --, --, --,2016-04-13,Computers,0, --,sport,damen,bade und beach,bikinis mix & match,bikini-tops,< 10%,91.23%
17601222633,Marken_Michael-Kors,michael kors,201384633,92_Shopping_Marken,Bekleidung & Accessoires,Bekleidung,Bademode, --, --,0,0.00%,0.0,0.0,0,2276,0.0,0.00%, --, --, --, --, --,2016-05-07,Computers,0, --,sport,damen,bade und beach,kleider & tuniken, --,< 10%,53.57%
17601222633,Marken_Michael-Kors,michael kors,201384633,92_Shopping_Marken,Bekleidung & Accessoires,Bekleidung,Shirts & Tops, --, --,0,0.00%,0.0,0.0,0,2276,0.0,0.00%, --, --, --, --, --,2016-06-26,Computers,0, --,damen,blusen & tuniken,tuniken, --, --,< 10%, --
17601222633,Marken_Michael-Kors,michael kors,201384633,92_Shopping_Marken,Bekleidung & Accessoires,Bekleidung,Bademode, --, --,0,0.00%,0.0,0.0,0,2276,0.0,0.00%, --, --, --, --, --,2016-06-26,Computers,0, --,sport,damen,bademode,strandmode,strandhosen,< 10%,< 10%
17601222633,Marken_Michael-Kors,michael kors,201384633,92_Shopping_Marken,Bekleidung & Accessoires,Bekleidung,Bademode, --, --,0,0.00%,0.0,0.0,0,2276,0.0,0.00%, --, --, --, --, --,2016-06-28,Computers,0, --,sport,damen,bademode,strandmode,strandkleider,< 10%,87.27%
17601222633,Marken_Michael-Kors,michael kors,201384633,92_Shopping_Marken,Bekleidung & Accessoires,Bekleidung,Bademode, --, --,0,0.00%,0.0,0.0,0,2276,0.0,0.00%, --, --, --, --, --,2016-07-08,Computers,0, --,sport,damen,bademode,strandmode,strandkleider,< 10%,94.87%
17601222633,Marken_Michael-Kors,michael kors,201384633,92_Shopping_Marken,Bekleidung & Accessoires,Bekleidung,Bademode, --, --,0,0.00%,0.0,0.0,0,2276,0.0,0.00%, --, --, --, --, --,2016-07-31,Computers,0, --,sport,damen,bademode,strandmode,strandkleider,< 10%,50.00%
17601222633,Marken_Michael-Kors,michael kors,201384633,92_Shopping_Marken,Bekleidung & Accessoires,Bekleidung,Bademode, --, --,0,0.00%,0.0,0.0,0,2276,0.0,0.00%, --, --, --, --, --,2016-08-06,Computers,0, --,sport,damen,bademode,bikinis,bikini-oberteile,< 10%,77.14%

In [97]:
a1.head()

,Ad group ID,Ad group,Brand,Campaign ID,Campaign,Category (1st level),Category (2nd level),Category (3rd level),Category (4th level),Category (5th level),...,Device,Impressions,Item Id,Product type (1st level),Product type (2nd level),Product type (3rd level),Product type (4th level),Product type (5th level),Click share,Search Impr. share
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,< 10%,91.23%
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,< 10%,53.57%
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,1,1,1,2,1,< 10%,--
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,3,2,< 10%,< 10%
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,3,3,< 10%,87.27%

In [19]:
for i,ch in enumerate(reader):
    print i
    ch=ch[data_dict.index.values]
    ch.to_csv('report_20160201_20161201_star_{:02d}.csv'.format(i),
              index=True,header=False, encoding='utf-8', date_format='%Y-%m-%d')

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45

In [9]:
df_mg=pd.concat(dfs)
# need to change to drop original index or have duplicates!

In [ ]:
#need to save lookups

In [11]:
del dfs

In [10]:
df_mg.to_pickle('report_2016_09_01-2016_12_01.pkl')

In [30]:
df_mg=pd.read_pickle('report_2016_09_01-2016_12_01.pkl')

In [18]:
z1=lookups_df.set_index(['id_name', 'id_index'])
cats = z1.index.levels[0].values
for c in cats:
    df_mg[c] = df_mg[c].map(z1.id.xs(c))

In [48]:
df_mg.reset_index(drop=True,inplace=True)

In [53]:
df_mg['Conv. rate'].max()

9.0

In [51]:
df_mg[df_mg['CTR']>1].head().T

,4243,13035,15066,15475,16465
Ad group ID,18790228953,33584868753,33584887833,33584869113,33584881353
Ad group,Marken_Armani,reebok,baldessarini,bogner,shiseido
Brand,giorgio armani cosmetics,reebok,baldessarini,bogner,shiseido
Campaign ID,201384633,644232844,644232844,644232844,644232844
Campaign,92_Shopping_Marken,camato Designer,camato Designer,camato Designer,camato Designer
Category (1st level),Gesundheit & Schönheit,Bekleidung & Accessoires,Gesundheit & Schönheit,Bekleidung & Accessoires,Gesundheit & Schönheit
Category (2nd level),Körperpflege,Bekleidung,Körperpflege,Bekleidung,Körperpflege
Category (3rd level),Kosmetika,Sportbekleidung,Kosmetika,Sportbekleidung,Kosmetika
Category (4th level),Make-up,--,Badeartikel,--,Hautpflege
Category (5th level),Augen,--,Waschlotion,--,Lotion & Feuchtigkeitscremes
Clicks,2,2,2,2,2
Conv. rate,0,0,0,0,0
Conversions,0,0,0,0,0
Total conv. value,0,0,0,0,0
Cost,540000,20000,1.54e+06,420000,560000
Country/Territory,2276,2276,2276,2276,2276
Cross-device conv.,0,0,0,0,0
CTR,2,2,2,2,2
Custom label 0,--,--,--,--,--
Custom label 1,--,--,--,--,--
Custom label 2,--,--,--,--,--
Custom label 3,--,--,--,--,--
Custom label 4,--,--,--,--,--
Day,2016-09-05 00:00:00,2016-09-03 00:00:00,2016-10-01 00:00:00,2016-11-15 00:00:00,2016-09-16 00:00:00
Device,Mobile devices with full browsers,Computers,Tablets with full browsers,Tablets with full browsers,Tablets with full browsers
Impressions,1,1,1,1,1
Item Id,9095153844225,9095464550401,289762426594640,9081508429825,9113206554625
Product type (1st level),beauty,sport,beauty,sport,beauty
Product type (2nd level),make-up,damen,herren,damen,gesichtspflege
Product type (3rd level),augen,sportfashion,körperpflege,sportfashion,tagespflege
Product type (4th level),mascara,schuhe,duschgel,jacken,feuchtigkeitspflege
Product type (5th level),--,--,--,--,--
Click share,--,--,--,--,--
Search Impr. share,--,--,--,--,--

In [47]:
df_mg.head()

,Ad group ID,Ad group,Brand,Campaign ID,Campaign,Category (1st level),Category (2nd level),Category (3rd level),Category (4th level),Category (5th level),...,Device,Impressions,Item Id,Product type (1st level),Product type (2nd level),Product type (3rd level),Product type (4th level),Product type (5th level),Click share,Search Impr. share
0,33584867553,sioux,sioux,644232844,camato Designer,Bekleidung & Accessoires,Schuhe,--,--,--,...,Mobile devices with full browsers,1,9079449255937,damen,schuhe,slipper,--,--,--,--
1,33584864193,dsquared2,dsquared2,644232844,camato Designer,Bekleidung & Accessoires,Bekleidung,Hosen,--,--,...,Tablets with full browsers,1,9122948120577,luxus,herren,fashion,jeans,--,--,--
2,33584870313,boss orange,boss orange,644232844,camato Designer,Bekleidung & Accessoires,Bekleidung,Überbekleidung,Mäntel & Jacken,--,...,Computers,8,9100566724609,damen,blazer,klassische blazer,--,--,--,--
3,33584895873,jimmy choo,jimmy choo,644232844,camato Designer,Bekleidung & Accessoires,"Handtaschen, Geldbörsen & Etuis",Handtaschen,--,--,...,Tablets with full browsers,3,9089706590209,luxus,damen,taschen,clutches,--,--,--
4,33584861553,gerry weber,gerry weber,644232844,camato Designer,Bekleidung & Accessoires,Bekleidung,Kleider,--,--,...,Computers,1,9110532128769,damen,kleider,etuikleider,--,--,--,--

In [20]:
desc=df_mg.describe(include='all').T

In [39]:
a=df_mg[df_mg['Clicks']>0].sample(50).copy()

In [46]:
df_mg.loc[42440,'CTR']

42440    0.0
42440    0.0
42440    0.4
42440    0.0
42440    2.0
42440    0.0
42440    0.0
42440    0.0
42440    0.0
42440    0.0
42440    0.0
42440    0.0
42440    0.0
42440    0.0
42440    0.0
Name: CTR, dtype: float64

In [40]:
a['ctr1']=np.round(a['Clicks'].div(a['Impressions']).values,4)

In [41]:
a[['CTR','ctr1']]

           CTR    ctr1
545099  0.0333  0.0333
904670  0.0769  0.0769
946954  0.1667  0.1667
272642  0.5000  0.5000
213827  0.1667  0.1667
155644  0.5000  0.5000
511548  0.0541  0.0541
69952   0.1724  0.1724
613386  0.2222  0.2222
998246  0.1111  0.1111
771529  0.1667  0.1667
818832  0.0169  0.0169
963094  0.1429  0.1429
736874  1.0000  1.0000
598517  1.0000  1.0000
131852  0.0909  0.0909
42440   2.0000  2.0000
86917   0.4286  0.4286
796879  0.2500  0.2500
928832  0.2500  0.2500
881520  0.0750  0.0750
604920  0.0455  0.0455
800923  0.2500  0.2500
259410  1.0000  1.0000
167467  0.1111  0.1111
372316  0.0588  0.0588
940235  0.0909  0.0909
327992  0.0143  0.0143
908432  1.0000  1.0000
773668  0.1429  0.1429
189170  0.0132  0.0132
871882  0.0370  0.0370
266487  0.0137  0.0137
536784  1.0000  1.0000
310527  0.1667  0.1667
212237  0.2500  0.2500
100234  0.1333  0.1333
254649  0.0833  0.0833
805954  0.5000  0.5000
517268  0.2500  0.2500
914102  0.0152  0.0152
681263  0.1053  0.1053
341926  0.1429  0.1429
971789  0.2000  0.2000
252124  0.0097  0.0097
268132  0.1250  0.1250
208880  0.5000  0.5000
391705  0.1000  0.1000
582656  0.0345  0.0345
878625  0.0208  0.0208

In [21]:
desc

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
Ad group ID,14466684,2723,33584860953,346002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ad group,14466684,1611,marc o'polo,545346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brand,14466684,1144,marc o'polo,559842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Campaign ID,14466684,6,644232844,8544642,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Campaign,14466684,6,camato Designer,8544642,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Category (1st level),14466684,11,Bekleidung & Accessoires,11953652,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Category (2nd level),14466684,35,Bekleidung,9548087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Category (3rd level),14466684,70,Überbekleidung,3037310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Category (4th level),14466684,96,--,8073428,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Category (5th level),14466684,56,--,13179366,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Clicks,1.44667e+07,NaN,NaN,NaN,NaN,NaN,0.0701528,1.12,0,0,0,0,707
Conv. rate,1.44667e+07,NaN,NaN,NaN,NaN,NaN,0.000797561,0.0289169,0,0,0,0,9
Conversions,1.44667e+07,NaN,NaN,NaN,NaN,NaN,0.00112134,0.036729,0,0,0,0,9
Total conv. value,1.44667e+07,NaN,NaN,NaN,NaN,NaN,0.236039,12.1706,0,0,0,0,6407.95
Cost,1.44667e+07,NaN,NaN,NaN,NaN,NaN,45038.6,534177,0,0,0,0,3.3239e+08
Country/Territory,14466684,1,2276,14466684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cross-device conv.,1.44667e+07,NaN,NaN,NaN,NaN,NaN,6.08294e-06,0.00771914,0,0,0,0,17
CTR,1.44667e+07,NaN,NaN,NaN,NaN,NaN,0.0110987,0.0854318,0,0,0,0,3
Custom label 0,14466684,1,--,14466684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Custom label 1,14466684,1,--,14466684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Custom label 2,14466684,1,--,14466684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Custom label 3,14466684,1,--,14466684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Custom label 4,14466684,1,--,14466684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Day,14466684,92,2016-09-04 00:00:00,216837,2016-09-01 00:00:00,2016-12-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Device,14466684,4,Computers,5645044,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Impressions,1.44667e+07,NaN,NaN,NaN,NaN,NaN,4.58235,41.2058,0,0,1,3,18955
Item Id,14466684,218793,--,3824616,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Product type (1st level),14466684,9,damen,6206903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Product type (2nd level),14466684,53,jacken,1133264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Product type (3rd level),14466684,332,outdoor,429224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Product type (4th level),14466684,323,--,8918839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Product type (5th level),14466684,44,--,13933816,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Click share,14466684,8689,--,10826862,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Search Impr. share,14466684,8800,--,11213464,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
desc.to_csv('report_20160901_20161201_desc.csv',encoding='utf-8')

In [16]:
z1.index.levels[0]

Index([u'Ad group', u'Ad group ID', u'Brand', u'Campaign', u'Campaign ID',
       u'Category (1st level)', u'Category (2nd level)',
       u'Category (3rd level)', u'Category (4th level)',
       u'Category (5th level)', u'Country/Territory', u'Custom label 0',
       u'Custom label 1', u'Custom label 2', u'Custom label 3',
       u'Custom label 4', u'Device', u'Item Id', u'Product type (1st level)',
       u'Product type (2nd level)', u'Product type (3rd level)',
       u'Product type (4th level)', u'Product type (5th level)'],
      dtype='object', name=u'id_name')

In [9]:
lookups_df.head()

    id_name                 id  id_index
0  Ad group         0039 italy       380
1  Ad group           120%lino       515
2  Ad group         4 barra 12      1373
3  Ad group               4lou      1445
4  Ad group  7 for all mankind       461

In [20]:
df_mg.dtypes

Ad group ID                          int64
Ad group                             int64
Brand                                int64
Campaign ID                          int64
Campaign                             int64
Category (1st level)                 int64
Category (2nd level)                 int64
Category (3rd level)                 int64
Category (4th level)                 int64
Category (5th level)                 int64
Clicks                              uint16
Conv. rate                         float64
Conversions                         uint16
Total conv. value                  float64
Cost                               float32
Country/Territory                    int64
Cross-device conv.                  uint16
CTR                                float64
Custom label 0                       int64
Custom label 1                       int64
Custom label 2                       int64
Custom label 3                       int64
Custom label 4                       int64
Day                         datetime64[ns]
Device                               int64
Impressions                         uint16
Item Id                              int64
Product type (1st level)             int64
Product type (2nd level)             int64
Product type (3rd level)             int64
Product type (4th level)             int64
Product type (5th level)             int64
Click share                         object
Search Impr. share                  object
dtype: object

In [20]:
lookups_df1 = pd.concat({id: pd.Series(lookups[id]) for id in lookups}).reset_index()
lookups_df1.columns=['id_name','id', 'id_index']

In [21]:
lookups_df1.head()

    id_name          id  id_index
0  Ad group  0039 italy      1375
1  Ad group    120%lino       944
2  Ad group   365 italy      1820
3  Ad group  4 barra 12      2035
4  Ad group        4lou      1979

In [14]:
lookups_df.to_pickle('lookup_report_2016_09_01-2016_12_01.pkl')

In [52]:
lookups_df = pd.read_pickle('lookup_report_2016_09_01-2016_12_01.pkl')

In [55]:
lookups_df.set_index(['id_name','id_index'],inplace=True)

In [22]:
lookups_df1.to_pickle('lookup_report_20160201_20161201.pkl')

In [23]:
lookups_df1.to_csv('lookup_report_20160201_20161201.csv', encoding='utf-8')

In [4]:
lookups_df=pd.read_pickle('lookup_report_2016_09_01-2016_12_01.pkl')

In [41]:
a=beta.interval(.75,np.arange(10)+.5,50)
print a

(array([ 0.00024868,  0.00686562,  0.01765863,  0.02985758,  0.0426286 ,
        0.05561207,  0.06862042,  0.08154528,  0.09432024,  0.10690346]), array([ 0.02337545,  0.05551089,  0.08147777,  0.10465526,  0.12596716,
        0.14584393,  0.16453784,  0.18221738,  0.19900494,  0.21499466]))

In [42]:
a.shape

AttributeError: 'tuple' object has no attribute 'shape'

In [127]:
a=set('a')
a &= set(['a','b'])

In [51]:
lookups_df1.head()

    id_name          id  id_index
0  Ad group  0039 italy      1375
1  Ad group    120%lino       944
2  Ad group   365 italy      1820
3  Ad group  4 barra 12      2035
4  Ad group        4lou      1979

Produce histogram of impressions by each id type
sort by impressions
plot ctr and cvr

In [134]:
def map_lookup(df, lookup_df=None, subset=None):
    if lookup_df is None:
        return
    cats = set(df.columns) & set(lookup_df.index.levels[0])
    if subset:
        cats &= subset 
    for c in cats:
       df[c] = df[c].map(lookup_df.xs(c).id) 


def calc_metrics(df,gps,alpha=0.75, lookup_df = None):
    # http://stackoverflow.com/a/922796/
    
        
    met=df.groupby(gps)[['Impressions','Clicks','Conversions', 'Cross-device conv.', 'Total conv. value']].sum()
    met.reset_index(inplace=True)
    # map on index doesn't accept series
    #if isinstance(gps, basestring):
    #    gps=[gps]
    #for g in gps:
    #    if g in lookup_df.index.levels[0]:
        
    #        met[g] = met[g].map(lookup_df.xs(g).id)
    #map_lookup(met, lookup_df)
    met['CTR%']=met['Clicks'].div(met['Impressions'])*100
    x = beta.interval(alpha, met['Clicks']+.5, met['Impressions']-met['Clicks']+.5)
    met['CTR_{:.2f}%'.format(.5 - alpha/2.0)] = x[0]*100
    met['CTR_{:.2f}%'.format(.5 + alpha/2.0)] = x[1]*100
    
    met['CVR%']=met['Conversions'].div(met['Clicks'])*100
    x = beta.interval(alpha, met['Conversions']+.5, met['Clicks']-met['Conversions']+.5)
    met['CVR_{:.2f}%'.format(.5 - alpha/2.0)] = x[0]*100
    met['CVR_{:.2f}%'.format(.5 + alpha/2.0)] = x[1]*100
    
    return met

In [133]:
a2.head()

,Brand,Month,Impressions,Clicks,Conversions,Cross-device conv.,Total conv. value,CTR%,CTR_0.12%,CTR_0.88%,CVR%,CVR_0.12%,CVR_0.88%
0,0,9,22826.0,233.0,2.0,0.0,209.980003,1.020766,0.946813,1.099935,0.858369,0.388518,1.839669
1,0,10,790.0,20.0,2.0,0.0,1088.719986,2.531646,1.959437,3.249811,10.000000,4.591301,20.093706
2,0,11,2587.0,80.0,3.0,0.0,407.870003,3.092385,2.722574,3.506265,3.750000,1.953113,6.940043
3,0,12,171.0,2.0,0.0,0.0,0.000000,1.169591,0.529632,2.501202,0.000000,0.545119,40.397983
4,1,9,95659.0,970.0,13.0,0.0,4434.619949,1.014019,0.977375,1.051907,1.340206,0.973778,1.828520

In [143]:
a=df_mg[df_mg['Item Id'].str.len()==3]

In [145]:
b=df_mg[(df_mg['Item Id'].str.len()==3) & (df_mg['Impressions']>0)]

In [150]:
df_mg[df_mg['CTR']>1].shape

(2985, 35)

In [153]:
2985/14466684. * 100

0.02063361583069071

In [151]:
df_mg.shape

(14466684, 35)

In [148]:
b.tail()

,Ad group ID,Ad group,Brand,Campaign ID,Campaign,Category (1st level),Category (2nd level),Category (3rd level),Category (4th level),Category (5th level),...,Impressions,Item Id,Product type (1st level),Product type (2nd level),Product type (3rd level),Product type (4th level),Product type (5th level),Click share,Search Impr. share,Month
779332,33584737233,more & more,--,644232841,camato Generics,--,--,--,--,--,...,1,--,--,--,--,--,--,--,--,11
783137,33584737233,more & more,--,644232841,camato Generics,--,--,--,--,--,...,1,--,--,--,--,--,--,--,--,11
827797,33584779113,eterna,--,644232841,camato Generics,--,--,--,--,--,...,2,--,--,--,--,--,--,--,--,11
846826,33584859633,hugo,--,644232844,camato Designer,--,--,--,--,--,...,1,--,--,--,--,--,--,--,--,11
38389,33584739993,m.a.c,--,644232841,camato Generics,--,--,--,--,--,...,25,--,--,--,--,--,--,--,--,12

In [144]:
a.head()

,Ad group ID,Ad group,Brand,Campaign ID,Campaign,Category (1st level),Category (2nd level),Category (3rd level),Category (4th level),Category (5th level),...,Impressions,Item Id,Product type (1st level),Product type (2nd level),Product type (3rd level),Product type (4th level),Product type (5th level),Click share,Search Impr. share,Month
364,33584760393,mey,mey,644232841,camato Generics,Bekleidung & Accessoires,Bekleidung,Nachtwäsche & Loungewear,Nachthemden,--,...,0,--,damen,wäsche,nachtwäsche,nachthemden,--,< 10%,< 10%,11
499,33584871273,brunello cucinelli,brunello cucinelli,644232844,camato Designer,Bekleidung & Accessoires,Bekleidung,Shirts & Tops,--,--,...,0,--,luxus,damen,fashion,pullover & strickjacken,strickjacken,< 10%,16.67%,10
503,33584744913,adidas,adidas,644232841,camato Generics,Bekleidung & Accessoires,Bekleidung,Sportbekleidung,--,--,...,0,--,sport,kinder,fitness und training,jungen,--,< 10%,< 10%,11
642,33584766153,blonde no.8,blonde no.8,644232841,camato Generics,Bekleidung & Accessoires,Bekleidung,Überbekleidung,Mäntel & Jacken,--,...,0,--,damen,jacken,wolljacken,--,--,< 10%,11.90%,11
1068,33584797233,zarkoperfume,zarkoperfume,644232841,camato Generics,Gesundheit & Schönheit,Körperpflege,Kosmetika,Düfte,--,...,0,--,beauty,düfte,herrendüfte,oud düfte,--,< 10%,100.00%,10

In [142]:
df_mg['Item Id'].str.len().unique()

array([13, 15,  3], dtype=int64)

In [138]:
a.shape

(0, 35)

In [72]:
df_mg['Month']=df_mg['Day'].dt.month

In [132]:
a2=calc_metrics(df_mg,['Brand','Month'], lookup_df = lookups_df)

In [114]:
products=calc_metrics(df_mg,['Product type (1st level)',
                             'Product type (2nd level)',
                             'Product type (3rd level)',
                             'Product type (4th level)',
                             'Product type (5th level)'], lookup_df = lookups_df)

In [123]:
products.to_csv('product_types_20160901_20161201.csv', encoding='utf-8')

In [120]:
products[products['Clicks']>1000].shape

(208, 16)

In [121]:
products[products['Clicks']>1000]

,Product type (1st level),Product type (2nd level),Product type (3rd level),Product type (4th level),Product type (5th level),Impressions,Clicks,Conversions,Cross-device conv.,Total conv. value,CTR%,CTR_0.12%,CTR_0.88%,CVR%,CVR_0.12%,CVR_0.88%
0,damen,schuhe,slipper,--,--,207168.0,2124.0,55.0,0.0,14144.070042,1.025255,1.000082,1.051003,2.589454,2.219648,3.013508
1,damen,schuhe,schnürer,--,--,141341.0,1351.0,30.0,0.0,6546.620064,0.955844,0.926493,0.986040,2.220577,1.801249,2.725843
3,damen,schuhe,stiefeletten,klassische stiefeletten,--,741959.0,6361.0,151.0,0.0,39946.490196,0.857325,0.845093,0.869718,2.373841,2.163264,2.602617
4,damen,schuhe,stiefeletten,chelsea-boots,--,543140.0,5917.0,164.0,0.0,37178.180210,1.089406,1.073312,1.105719,2.771675,2.535776,3.026976
5,damen,schuhe,stiefeletten,boots,--,478096.0,6420.0,162.0,0.0,47184.049967,1.342827,1.323801,1.362100,2.523364,2.307088,2.757617
6,damen,schuhe,stiefeletten,plateau-stiefeletten,--,467525.0,3547.0,85.0,0.0,21051.010143,0.758676,0.744205,0.773403,2.396391,2.117052,2.708352
7,damen,schuhe,stiefeletten,schnürstiefeletten,--,98898.0,1206.0,23.0,0.0,6288.460045,1.219438,1.179888,1.260187,1.907131,1.501009,2.410151
12,damen,schuhe,pumps,klassische pumps,--,360161.0,3304.0,79.0,0.0,12830.150108,0.917368,0.899258,0.935808,2.391041,2.102538,2.714568
14,damen,schuhe,pumps,plateau-pumps,--,105490.0,1031.0,26.0,0.0,4138.040047,0.977344,0.943063,1.012754,2.521823,2.014524,3.141006
17,damen,schuhe,sneaker,sneaker low,--,563227.0,4985.0,96.0,0.0,25293.520060,0.885078,0.870828,0.899541,1.925777,1.713409,2.161587
18,damen,schuhe,sneaker,sneaker high,--,506082.0,5482.0,103.0,0.0,24596.460163,1.083224,1.066603,1.100080,1.878876,1.678434,2.100657
20,damen,schuhe,stiefel,--,--,423748.0,6594.0,135.0,0.0,40317.750175,1.556114,1.534380,1.578125,2.047316,1.855432,2.256877
21,damen,schuhe,ballerinas,--,--,106595.0,1009.0,23.0,0.0,4349.000038,0.946573,0.913013,0.981253,2.279485,1.794722,2.879153
24,damen,blazer,klassische blazer,--,--,264779.0,3692.0,77.0,0.0,25973.559971,1.394370,1.368379,1.420808,2.085590,1.830558,2.372168
26,damen,blazer,bolero,--,--,164243.0,2798.0,74.0,0.0,9247.310062,1.703573,1.667199,1.740663,2.644746,2.316024,3.014605
27,damen,blazer,casual blazer,--,--,172959.0,2558.0,46.0,0.0,10808.419968,1.478963,1.445914,1.512694,1.798280,1.518423,2.123937
28,damen,kleider,etuikleider,--,--,176932.0,1830.0,22.0,0.0,9011.809956,1.034296,1.006962,1.062302,1.202186,0.940429,1.528750
30,damen,kleider,knielange kleider,--,--,980467.0,10639.0,167.0,0.0,48118.300007,1.085095,1.073120,1.097192,1.569696,1.436536,1.713923
31,damen,kleider,abendkleider,--,--,443410.0,3698.0,39.0,0.0,12360.020031,0.833991,0.818415,0.849837,1.054624,0.877059,1.264362
32,damen,kleider,casual-kleider,--,--,100329.0,1163.0,14.0,0.0,3914.929958,1.159186,1.120901,1.198655,1.203783,0.884735,1.624787
33,damen,kleider,minikleider,--,--,361346.0,4434.0,92.0,0.0,24323.020050,1.227079,1.206174,1.248311,2.074876,1.841563,2.334461
35,damen,kleider,cocktailkleider,--,--,472748.0,3257.0,42.0,0.0,9295.750084,0.688951,0.675238,0.702917,1.289530,1.079851,1.535562
37,damen,kleider,spitzenkleider,--,--,106302.0,1054.0,7.0,0.0,1888.970009,0.991515,0.957114,1.027036,0.664137,0.429620,1.012408
38,damen,kleider,strickkleider,--,--,62134.0,1137.0,30.0,0.0,6839.119991,1.829916,1.769000,1.892717,2.638522,2.141059,3.237194
39,damen,kleider,jumpsuits,--,--,141288.0,2245.0,43.0,0.0,11720.700069,1.588953,1.551099,1.627641,1.915367,1.608034,2.274757
40,damen,kleider,maxikleider,--,--,222306.0,1742.0,8.0,0.0,1433.620007,0.783605,0.762360,0.805387,0.459242,0.305383,0.682232
43,damen,jeans,straight leg jeans,--,--,307965.0,6220.0,157.0,0.0,25024.030117,2.019710,1.990739,2.049060,2.524116,2.304499,2.762286
44,damen,jeans,7,8-jeans,--,112432.0,2109.0,54.0,0.0,12437.869980,1.875800,1.829775,1.922867,2.560455,2.191617,2.983962
46,damen,jeans,skinny jeans,--,--,464785.0,9308.0,228.0,0.0,42267.560265,2.002646,1.979134,2.026410,2.449506,2.271344,2.640086
48,damen,jeans,destroyed jeans,--,--,44128.0,1128.0,32.0,0.0,6988.719986,2.556200,2.471075,2.643939,2.836879,2.317810,3.457537
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
675,sport,herren,outdoor,fleece & sweat,--,191382.0,3027.0,50.0,0.0,5121.479984,1.581653,1.549153,1.614769,1.651800,1.404302,1.938122
676,sport,herren,outdoor,rucksäcke,--,133652.0,1866.0,37.0,0.0,3542.799984,1.396163,1.359684,1.433526,1.982851,1.642110,2.386130
677,sport,herren,outdoor,jacken,--,466961.0,8509.0,100.0,0.0,23304.489944,1.822208,1.799817,1.844850,1.175226,1.047695,1.316707
695,sport,herren,running,laufschuhe,--,286031.0,2927.0,72.0,0.0,14366.810253,1.023316,1.001876,1.045171,2.459857,2.149913,2.809277
713,sport,herren,sportschuhe,bade & beach,--,32673.0,1031.0,21.0,0.0,1129.220011,3.155511,3.045994,3.268512,2.036857,1.585490,2.601254
721,sport,damen,ski und snowboard,jacken & westen,--,507749.0,4510.0,39.0,0.0,20050.889862,0.888234,0.873204,0.903499,0.864745,0.719042,1.036931
728,sport,damen,ski und snowboard,hosen,--,88956.0,1145.0,25.0,0.0,11687.939972,1.287153,1.244340,1.331297,2.183406,1.735852,2.732430
744,sport,damen,fitness und training,fitnesszubehör,--,138009.0,1533.0,33.0,0.0,1670.739986,1.110797,1.078772,1.143683,2.152642,1.763207,2.617924
746,sport,damen,outdoor,fleece & sweat,--,165596.0,2127.0,33.0,0.0,5795.500053,1.284451,1.252976,1.316642,1.551481,1.270157,1.888165
747,sport,damen,outdoor,rucksäcke,--,145237.0,1651.0,25.0,0.0,2542.200003,1.136763,1.105171,1.169173,1.514234,1.203087,1.896751
748,sport,damen,outdoor,jacken,--,364752.0,6312.0,79.0,0.0,13460.909958,1.730491,1.705813,1.755490,1.251584,1.099836,1.422106
750,sport,damen,outdoor,hosen,--,70249.0,1643.0,44.0,0.0,5254.879986,2.338823,2.274050,2.405246,2.678028,2.254133,3.171915
752,sport,damen,outdoor,outdoor-schuhe,--,86973.0,1114.0,21.0,0.0,3696.029980,1.280857,1.237673,1.325403,1.885099,1.467137,2.408005
753,sport,damen,outdoor,softshell,--,67421.0,1018.0,24.0,0.0,2326.970055,1.509915,1.456759,1.564820,2.357564,1.865743,2.963089
764,sport,damen,bademode,bikinis,bikini-oberteile,79128.0,1004.0,24.0,0.0,2806.490067,1.268830,1.223804,1.315354,2.390438,1.891819,3.004267
781,sport,damen,running,laufschuhe,--,342781.0,5256.0,86.0,9.0,15925.520271,1.533341,1.509369,1.557655,1.636225,1.445927,1.848891
786,sport,damen,sportfashion,schuhe,--,124497.0,1419.0,20.0,0.0,4065.240005,1.139787,1.105654,1.174873,1.409443,1.089620,1.812481
798,sport,damen,sportschuhe,running,--,181853.0,3989.0,13.0,0.0,2399.410002,2.193530,2.154337,2.233362,0.325896,0.236508,0.445559
799,sport,damen,sportschuhe,fashion & freizeit,--,170928.0,2527.0,49.0,0.0,6840.399971,1.478400,1.445164,1.512327,1.939058,1.646131,2.278211
817,sport,kinder,outdoor,jungen,--,116686.0,1914.0,75.0,0.0,5731.729992,1.640300,1.598027,1.683580,3.918495,3.437152,4.458348
818,sport,kinder,outdoor,mädchen,--,72329.0,1316.0,28.0,0.0,1411.210003,1.819464,1.763102,1.877446,2.127660,1.713046,2.630667
824,geschenke,das besondere geschenk,home & living,handtücher,--,117401.0,1732.0,34.0,0.0,4979.149982,1.475286,1.435309,1.516266,1.963048,1.612440,2.381059
825,geschenke,das besondere geschenk,home & living,küche,--,502355.0,9382.0,120.0,0.0,25295.549965,1.867604,1.845748,1.889692,1.279045,1.151813,1.418901
826,geschenke,das besondere geschenk,home & living,kissen und plaids,--,245891.0,3688.0,79.0,0.0,10982.539943,1.499852,1.471894,1.528289,2.142082,1.883344,2.432363
827,geschenke,das besondere geschenk,home & living,bettwäsche und bettwaren,--,202274.0,3051.0,42.0,0.0,8311.740009,1.508350,1.477465,1.539818,1.376598,1.152838,1.639094
831,geschenke,das besondere geschenk,geschenke für kinder,für jungen,--,44733.0,1875.0,8.0,0.0,1643.720024,4.191536,4.083783,4.301779,0.426667,0.283709,0.633895
856,kinder,mädchen,jacken & mäntel,--,--,300868.0,4126.0,62.0,0.0,12655.059954,1.371366,1.347171,1.395953,1.502666,1.298797,1.735107
859,kinder,mädchen,wäsche & strümpfe,unterwäsche,--,125289.0,1998.0,23.0,0.0,1954.789975,1.594713,1.554469,1.635896,1.151151,0.905349,1.456375
901,kinder,jungen,jacken,--,--,324187.0,5164.0,83.0,0.0,17469.560135,1.592908,1.567794,1.618385,1.607281,1.417171,1.820171
923,kinder,baby,jacken & schneeanzüge,--,--,74949.0,1748.0,37.0,0.0,3372.730026,2.332253,2.269605,2.396446,2.116705,1.753151,2.546830

In [89]:
a1.head(100).sort_values(['Brand','Month'])

,Brand,Month,Impressions,Clicks,Conversions,Cross-device conv.,Total conv. value,CTR%,CTR_0.12%,CTR_0.88%,CVR%,CVR_0.12%,CVR_0.88%
523,adidas,9,450304.0,6677.0,97.0,0.0,14416.690123,1.482776,1.462188,1.503626,1.452748,1.293002,1.630169
524,adidas,10,191714.0,2714.0,32.0,0.0,2963.850019,1.415650,1.384920,1.446997,1.179071,0.961967,1.439899
525,adidas,11,294814.0,4528.0,60.0,0.0,5287.350044,1.535884,1.510029,1.562138,1.325088,1.142409,1.533898
926,armani jeans,9,152835.0,2148.0,20.0,0.0,4050.340015,1.405437,1.371185,1.440463,0.931099,0.719467,1.198254
289,belstaff,10,243571.0,3967.0,27.0,0.0,13449.329948,1.628683,1.599421,1.658428,0.680615,0.545080,0.846372
290,belstaff,11,227145.0,3417.0,14.0,17.0,11580.939911,1.504325,1.475204,1.533966,0.409716,0.300849,0.553864
140,benefit,9,145529.0,2947.0,86.0,0.0,3308.210003,2.025026,1.982951,2.067902,2.918222,2.580687,3.294588
142,benefit,11,233160.0,5644.0,124.0,0.0,4613.800026,2.420655,2.384289,2.457518,2.197023,1.982729,2.431906
556,blonde no.8,10,242160.0,4789.0,37.0,0.0,20134.139984,1.977618,1.945312,2.010407,0.772604,0.639214,0.930982
557,blonde no.8,11,218882.0,5396.0,30.0,0.0,18186.669937,2.465255,2.427391,2.503647,0.555967,0.450323,0.683887
74,bogner,11,245872.0,3213.0,28.0,0.0,14415.189850,1.306778,1.280671,1.333365,0.871460,0.700846,1.079241
160,boss,9,357365.0,5614.0,73.0,0.0,29031.169958,1.570943,1.547179,1.595036,1.300321,1.136740,1.484988
161,boss,10,777746.0,10468.0,123.0,0.0,38351.990049,1.345941,1.330986,1.361048,1.175010,1.059440,1.301918
162,boss,11,572478.0,8530.0,101.0,0.0,25197.349880,1.490014,1.471697,1.508537,1.184056,1.056175,1.325849
258,boss green,11,176084.0,2842.0,62.0,0.0,12003.439995,1.614002,1.579790,1.648883,2.181562,1.886417,2.517603
8,boss orange,9,227185.0,3877.0,75.0,0.0,20021.419926,1.706539,1.675539,1.738056,1.934485,1.694834,2.204272
9,boss orange,10,393826.0,6447.0,108.0,0.0,26525.440094,1.637017,1.613906,1.660427,1.675198,1.500303,1.868313
10,boss orange,11,594711.0,8491.0,145.0,0.0,32988.450140,1.427752,1.410155,1.445548,1.707690,1.552778,1.876429
152,burberry,9,416144.0,5829.0,31.0,0.0,11465.650095,1.400717,1.379902,1.421816,0.531824,0.432241,0.652037
153,burberry,10,481216.0,6030.0,32.0,8.0,13501.770050,1.253076,1.234752,1.271645,0.530680,0.432726,0.648577
154,burberry,11,707694.0,7651.0,69.0,0.0,34979.560219,1.081117,1.067060,1.095342,0.901843,0.785162,1.034123
483,calvin klein,9,156984.0,1912.0,52.0,0.0,4656.789987,1.217959,1.186489,1.250184,2.719665,2.321231,3.178196
484,calvin klein,10,224135.0,2531.0,26.0,0.0,2951.980017,1.129230,1.103820,1.155170,1.027262,0.819476,1.282079
485,calvin klein,11,317187.0,3009.0,63.0,0.0,4013.739998,0.948652,0.929040,0.968640,2.093719,1.812462,2.413672
513,camel active,11,148352.0,3531.0,24.0,0.0,4120.279964,2.380150,2.335014,2.426066,0.679694,0.537038,0.856304
52,camp david,9,230824.0,3281.0,35.0,0.0,4095.370047,1.421429,1.393342,1.450029,1.066748,0.878069,1.291679
53,camp david,10,381952.0,4936.0,51.0,0.0,6355.879971,1.292309,1.271441,1.313487,1.033225,0.879440,1.211125
54,camp david,11,567337.0,6411.0,80.0,0.0,10390.590021,1.130016,1.113978,1.146264,1.247855,1.097449,1.416747
109,chanel,10,294060.0,3964.0,47.0,0.0,5812.470020,1.348024,1.323762,1.372689,1.185671,1.002524,1.398751
110,chanel,11,290638.0,4111.0,71.0,0.0,7295.669952,1.414474,1.389480,1.439876,1.727074,1.507352,1.975338
...,...,...,...,...,...,...,...,...,...,...,...,...,...
276,parajumpers,9,199853.0,4219.0,44.0,0.0,16943.339922,2.111052,2.074352,2.148334,1.042901,0.876747,1.237262
277,parajumpers,10,443192.0,9539.0,44.0,0.0,27504.389744,2.152340,2.127395,2.177548,0.461264,0.387608,0.547546
278,parajumpers,11,434075.0,8055.0,37.0,0.0,23193.519802,1.855670,1.832242,1.879368,0.459342,0.379941,0.553695
32,paul green,9,456060.0,3781.0,91.0,0.0,19102.220154,0.829058,0.813743,0.844635,2.406771,2.135125,2.709012
33,paul green,10,785753.0,6938.0,128.0,0.0,30540.870216,0.882975,0.870910,0.895191,1.844912,1.667389,2.039307
34,paul green,11,414373.0,3733.0,77.0,0.0,14827.620178,0.900879,0.884138,0.917909,2.062684,1.810428,2.346154
309,peter kaiser,10,160825.0,1642.0,34.0,0.0,8156.040054,1.020986,0.992518,1.050193,2.070646,1.700973,2.511254
836,phase eight,11,161587.0,1320.0,14.0,0.0,2342.989990,0.816897,0.791507,0.843028,1.060606,0.779376,1.431936
96,reebok,9,219460.0,2898.0,53.0,0.0,7051.079950,1.320514,1.292752,1.348815,1.828847,1.562307,2.135789
118,s.oliver black label,11,160671.0,2009.0,35.0,0.0,6048.370003,1.250381,1.218859,1.282641,1.742160,1.434816,2.107884
261,s.oliver casual,10,231373.0,3629.0,67.0,0.0,12925.320217,1.568463,1.539002,1.598433,1.846239,1.605012,2.119718
262,s.oliver casual,11,247797.0,4304.0,64.0,0.0,8014.790054,1.736906,1.706952,1.767333,1.486989,1.288200,1.713176
242,sportalm,11,185693.0,1558.0,15.0,0.0,4903.349945,0.839019,0.814990,0.863692,0.962773,0.714836,1.287203
627,stone island,9,206286.0,3196.0,34.0,0.0,10355.959999,1.549305,1.518310,1.580872,1.063830,0.873171,1.291707
628,stone island,10,290778.0,4355.0,40.0,0.0,13395.830025,1.497706,1.471997,1.523820,0.918485,0.765540,1.098825
629,stone island,11,290843.0,4462.0,40.0,0.0,12917.060112,1.534161,1.508146,1.560581,0.896459,0.747169,1.072499
149,strellson,10,229017.0,4235.0,35.0,0.0,8359.839977,1.849208,1.817078,1.881848,0.826446,0.680136,1.000982
150,strellson,11,310886.0,4650.0,49.0,0.0,11049.279959,1.495725,1.470872,1.520958,1.053763,0.894008,1.239106
469,strokesman's,11,199379.0,2234.0,38.0,0.0,6390.879976,1.120479,1.093659,1.147895,1.700985,1.411901,2.042615
280,tommy hilfiger,9,146820.0,1370.0,28.0,0.0,4925.239988,0.933115,0.904655,0.962388,2.043796,1.645400,2.527252
130,vera mont,11,181569.0,1453.0,18.0,0.0,3706.090002,0.800247,0.776521,0.824631,1.238816,0.944268,1.614920
615,vm vera mont,9,170506.0,1461.0,29.0,0.0,4185.120068,0.856861,0.831533,0.882890,1.984942,1.603997,2.445749
616,vm vera mont,10,259623.0,2053.0,24.0,0.0,4867.590046,0.790762,0.770995,0.810990,1.169021,0.924094,1.471757
617,vm vera mont,11,178775.0,1583.0,28.0,0.0,3873.550003,0.885471,0.860315,0.911294,1.768793,1.423650,2.187980
76,wellensteyn,9,532927.0,10558.0,66.0,0.0,16427.580048,1.981134,1.959285,2.003203,0.625118,0.542448,0.719158
77,wellensteyn,10,1890449.0,48944.0,286.0,0.0,79609.480339,2.589015,2.575758,2.602332,0.584341,0.545925,0.625212
78,wellensteyn,11,3115414.0,70035.0,312.0,6.0,87717.540155,2.248016,2.238373,2.257696,0.445492,0.417395,0.475308
228,woolrich,9,191012.0,2490.0,25.0,0.0,14104.129898,1.303583,1.274037,1.333749,1.004016,0.797327,1.258533
229,woolrich,10,603213.0,7887.0,48.0,0.0,27377.040028,1.307498,1.290771,1.324422,0.608596,0.515283,0.717134
230,woolrich,11,497959.0,7388.0,31.0,0.0,18067.649845,1.483656,1.464066,1.503483,0.419599,0.340998,0.514516

In [90]:
cat1=calc_metrics(df_mg,'Category (1st level)',lookup_df = lookups_df)

In [91]:
cat1

,Category (1st level),Impressions,Clicks,Conversions,Cross-device conv.,Total conv. value,CTR%,CTR_0.12%,CTR_0.88%,CVR%,CVR_0.12%,CVR_0.88%
0,Bekleidung & Accessoires,56869009.0,862455.0,12407.0,88.0,3.037757e+06,1.516564,1.514701,1.518429,1.438568,1.423887,1.453386
1,Gesundheit & Schönheit,5934291.0,105002.0,3058.0,0.0,2.146530e+05,1.769411,1.763195,1.775647,2.912325,2.853175,2.972566
2,Sportartikel,1339465.0,15049.0,226.0,0.0,5.718204e+04,1.123508,1.113076,1.134029,1.501761,1.391589,1.619767
3,Heim & Garten,1186823.0,19424.0,339.0,0.0,6.087939e+04,1.636638,1.623290,1.650086,1.745264,1.640173,1.856393
4,Taschen & Gepäck,899721.0,11816.0,166.0,0.0,4.235478e+04,1.313296,1.299555,1.327168,1.404875,1.285264,1.534483
7,Baby & Kleinkind,38793.0,736.0,20.0,0.0,8.001600e+02,1.897250,1.819067,1.978446,2.717391,2.103603,3.487222
5,Bürobedarf,17140.0,321.0,4.0,0.0,8.807800e+02,1.872812,1.757082,1.995368,1.246106,0.703389,2.157398
6,Elektronik,2770.0,34.0,0.0,0.0,0.000000e+00,1.227437,1.007593,1.490077,0.000000,0.036119,3.377293
9,--,2670.0,35.0,1.0,0.0,8.995000e+01,1.310861,1.079222,1.586825,2.857143,0.991301,7.927064
8,Kunst & Unterhaltung,411.0,5.0,0.0,0.0,0.000000e+00,1.216545,0.728280,1.992976,0.000000,0.235138,20.044143
10,Religion & Feierlichkeiten,246.0,1.0,1.0,0.0,1.039400e+02,0.406504,0.140767,1.160945,100.000000,40.186812,99.033053

In [100]:
cat1.plot(x='Category (1st level)',kind='bar',y=['Impressions','CTR%','CVR%'], yerr=yerr.T,subplots=True)

array([<matplotlib.axes._subplots.AxesSubplot object at 0x0000000019C03860>,
       <matplotlib.axes._subplots.AxesSubplot object at 0x000000002E7D2BA8>,
       <matplotlib.axes._subplots.AxesSubplot object at 0x000000002B88E898>], dtype=object)

In [110]:
cat1_month=calc_metrics(df_mg,['Category (1st level)','Month'],lookup_df = lookups_df)

In [112]:
fig, axes = plt.subplots(3, 1, figsize=(6, 6), sharex=True);
cat1_month.plot(x=['Category (1st level)','Month'],kind='bar',y='Impressions', ax= axes[0])
cat1_month.plot(x=['Category (1st level)','Month'],kind='bar',y='CTR%', ax= axes[1])
cat1_month.plot(x=['Category (1st level)','Month'],kind='bar',y='CVR%', ax= axes[2])

In [108]:
fig, axes = plt.subplots(3, 1, figsize=(6, 6), sharex=True);
cat1.plot(x='Category (1st level)',kind='bar',y='Impressions', ax= axes[0])
cat1.plot(x='Category (1st level)',kind='bar',y='CTR%', yerr=yerr[:,2:4].T,ax= axes[1])
cat1.plot(x='Category (1st level)',kind='bar',y='CVR%', yerr=yerr[:,4:6].T, ax= axes[2])

In [113]:
df_mg.isnull().sum()

Ad group ID                 0
Ad group                    0
Brand                       0
Campaign ID                 0
Campaign                    0
Category (1st level)        0
Category (2nd level)        0
Category (3rd level)        0
Category (4th level)        0
Category (5th level)        0
Clicks                      0
Conv. rate                  0
Conversions                 0
Total conv. value           0
Cost                        0
Country/Territory           0
Cross-device conv.          0
CTR                         0
Custom label 0              0
Custom label 1              0
Custom label 2              0
Custom label 3              0
Custom label 4              0
Day                         0
Device                      0
Impressions                 0
Item Id                     0
Product type (1st level)    0
Product type (2nd level)    0
Product type (3rd level)    0
Product type (4th level)    0
Product type (5th level)    0
Click share                 0
Search Impr. share          0
Month                       0
dtype: int64

In [99]:
yerr=np.full((cat1.shape[0],6),np.NaN)
yerr[:,2] = cat1['CTR%'] - cat1['CTR_0.12%']
yerr[:,3] = cat1['CTR_0.88%'] - cat1['CTR%']
yerr[:,4] = cat1['CVR%'] - cat1['CVR_0.12%']
yerr[:,5] = cat1['CVR_0.88%'] - cat1['CVR%']

In [96]:
yerr[:5,:]

array([[        nan,         nan,  1.51470093,  1.51842943,  1.51470093,
         1.45338595],
       [        nan,         nan,  1.76319529,  1.77564655,  1.76319529,
         2.97256621],
       [        nan,         nan,  1.11307648,  1.13402876,  1.11307648,
         1.61976693],
       [        nan,         nan,  1.62329011,  1.65008559,  1.62329011,
         1.85639347],
       [        nan,         nan,  1.2995551 ,  1.32716847,  1.2995551 ,
         1.53448309]])

In [23]:
lookups_df1=lookups_df.set_index(['id_name','id_index'])

In [59]:
a2=a1.reset_index()

In [60]:
a2['Brand_name']=a2['Brand'].map(lookups_df1.xs('Brand').id)

In [61]:
a2.head()

,Brand,Impressions,Clicks,Conversions,Cross-device conv.,Total conv. value,CTR,CVR,Brand_name
0,19,5653465.0,132052.0,674.0,6.0,186885.390566,0.023358,0.005104,wellensteyn
1,21,2229866.0,36833.0,674.0,0.0,146943.010303,0.016518,0.018299,marc o'polo
2,58,2198560.0,31683.0,452.0,0.0,134021.030163,0.014411,0.014266,hugo
3,63,1895228.0,19856.0,204.0,0.0,118038.810158,0.010477,0.010274,moncler
4,40,1724266.0,24891.0,301.0,0.0,93540.389893,0.014436,0.012093,boss

In [63]:
a2.describe()

/home/sean/anaconda2/lib/python2.7/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,Brand,Impressions,Clicks,Conversions,Cross-device conv.,Total conv. value,CTR,CVR
count,1144.00000,1.144000e+03,1144.000000,1144.000000,1144.000000,1144.000000,1138.000000,1032.000000
mean,571.50000,5.794697e+04,887.131119,14.180070,0.076923,2984.878167,0.016644,inf
std,330.38866,2.481357e+05,4698.710545,48.244519,0.865005,11579.911007,0.015730,NaN
min,0.00000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,285.75000,4.690000e+02,6.000000,0.000000,0.000000,0.000000,NaN,NaN
50%,571.50000,2.987000e+03,45.500000,1.000000,0.000000,77.400002,NaN,NaN
75%,857.25000,2.398975e+04,335.500000,7.000000,0.000000,1514.622499,NaN,NaN
max,1143.00000,5.653465e+06,132052.000000,674.000000,17.000000,186885.390566,0.263158,inf

1144 brands, max 5 million impressions

In [73]:
a2[:50].plot(x='Brand_name',y=['Impressions','CTR','CVR'],subplots=True,kind='bar')

array([<matplotlib.axes._subplots.AxesSubplot object at 0x7f8a4fbcdcd0>,
       <matplotlib.axes._subplots.AxesSubplot object at 0x7f8a4f44b8d0>,
       <matplotlib.axes._subplots.AxesSubplot object at 0x7f8a4f34f5d0>], dtype=object)

In [59]:
import matplotlib.pyplot as plt

In [66]:
f=plt.figure()

In [70]:
z=plt.subplot('311')

In [60]:
%matplotlib

Using matplotlib backend: Qt4Agg

In [53]:
a3

,Brand,Impressions,Clicks,Conversions,Cross-device conv.,Total conv. value,CTR,CVR,Brand_name
0,19,5653465.0,132052.0,674.0,6.0,186885.390566,0.023358,0.005104,wellensteyn
1,21,2229866.0,36833.0,674.0,0.0,146943.010303,0.016518,0.018299,marc o'polo
2,58,2198560.0,31683.0,452.0,0.0,134021.030163,0.014411,0.014266,hugo
3,63,1895228.0,19856.0,204.0,0.0,118038.810158,0.010477,0.010274,moncler
4,40,1724266.0,24891.0,301.0,0.0,93540.389893,0.014436,0.012093,boss
5,8,1666476.0,14575.0,296.0,0.0,64470.710548,0.008746,0.020309,paul green
6,38,1630998.0,19760.0,134.0,8.0,60419.470354,0.012115,0.006781,burberry
7,57,1313391.0,18037.0,106.0,0.0,61218.799752,0.013733,0.005877,woolrich
8,2,1232592.0,19081.0,338.0,0.0,80710.010141,0.015480,0.017714,boss orange
9,13,1200424.0,14882.0,169.0,0.0,21111.800037,0.012397,0.011356,camp david
10,69,1091993.0,22134.0,125.0,0.0,67641.249468,0.020269,0.005647,parajumpers
11,10,1064266.0,14361.0,519.0,0.0,21873.659962,0.013494,0.036140,m.a.c
12,131,945139.0,14079.0,194.0,0.0,22990.790180,0.014896,0.013779,adidas
13,15,895583.0,7977.0,213.0,0.0,61878.920076,0.008907,0.026702,kennel & schmenger
14,157,797408.0,12232.0,117.0,0.0,37783.790169,0.015340,0.009565,stone island
15,121,705430.0,7556.0,145.0,0.0,11777.290000,0.010711,0.019190,calvin klein
16,27,702655.0,9768.0,163.0,0.0,20020.329941,0.013902,0.016687,chanel
17,59,670670.0,7370.0,96.0,0.0,35760.280224,0.010989,0.013026,fire + ice
18,37,665870.0,11687.0,117.0,0.0,28499.629817,0.017551,0.010011,strellson
19,51,644793.0,10645.0,266.0,0.0,28381.669996,0.016509,0.024988,cmp

In [63]:
lookups['Category (1st level)']

{' --': 9,
 'Baby & Kleinkind': 7,
 'Bekleidung & Accessoires': 0,
 'B\xc3\xbcrobedarf': 5,
 'Elektronik': 6,
 'Gesundheit & Sch\xc3\xb6nheit': 1,
 'Heim & Garten': 3,
 'Kunst & Unterhaltung': 8,
 'Religion & Feierlichkeiten': 10,
 'Sportartikel': 2,
 'Taschen & Gep\xc3\xa4ck': 4}

In [73]:
a1.head()

    level_0            level_1     0
0  Ad group         0039 italy   380
1  Ad group           120%lino   515
2  Ad group         4 barra 12  1373
3  Ad group               4lou  1445
4  Ad group  7 for all mankind   461

In [45]:
dtype

{u'Ad group': u'np.uint16',
 u'Ad group ID': u'np.uint16',
 u'Brand': u'np.uint16',
 u'CTR': u'np.float32',
 u'Campaign': u'np.uint16',
 u'Campaign ID': u'np.uint16',
 u'Category (1st level)': u'np.uint16',
 u'Category (2nd level)': u'np.uint16',
 u'Category (3rd level)': u'np.uint16',
 u'Category (4th level)': u'np.uint16',
 u'Category (5th level)': u'np.uint16',
 u'Click share': u'str',
 u'Clicks': u'np.uint16',
 u'Conv. rate': u'np.float32',
 u'Conversions': u'np.uint16',
 u'Cost': u'np.float32',
 u'Country/Territory': u'np.uint16',
 u'Cross-device conv.': u'np.uint16',
 u'Custom label 0': u'np.uint16',
 u'Custom label 1': u'np.uint16',
 u'Custom label 2': u'np.uint16',
 u'Custom label 3': u'np.uint16',
 u'Custom label 4': u'np.uint16',
 u'Device': u'np.uint8',
 u'Impressions': u'np.uint16',
 u'Item Id': u'np.uint32',
 u'Product type (1st level)': u'np.uint16',
 u'Product type (2nd level)': u'np.uint16',
 u'Product type (3rd level)': u'np.uint16',
 u'Product type (4th level)': u'np.uint16',
 u'Product type (5th level)': u'np.uint16',
 u'Search Impr. share': u'str',
 u'Total conv. value': u'np.float32'}

In [44]:
converters

{u'Ad group': <function __main__.lookup>,
 u'Ad group ID': <function __main__.lookup>,
 u'Brand': <function __main__.lookup>,
 'CTR': <function __main__.<lambda>>,
 u'Campaign': <function __main__.lookup>,
 u'Campaign ID': <function __main__.lookup>,
 u'Category (1st level)': <function __main__.lookup>,
 u'Category (2nd level)': <function __main__.lookup>,
 u'Category (3rd level)': <function __main__.lookup>,
 u'Category (4th level)': <function __main__.lookup>,
 u'Category (5th level)': <function __main__.lookup>,
 'Conv. rate': <function __main__.<lambda>>,
 u'Country/Territory': <function __main__.lookup>,
 u'Custom label 0': <function __main__.lookup>,
 u'Custom label 1': <function __main__.lookup>,
 u'Custom label 2': <function __main__.lookup>,
 u'Custom label 3': <function __main__.lookup>,
 u'Custom label 4': <function __main__.lookup>,
 u'Device': <function __main__.lookup>,
 u'Item Id': <function __main__.lookup>,
 u'Product type (1st level)': <function __main__.lookup>,
 u'Product type (2nd level)': <function __main__.lookup>,
 u'Product type (3rd level)': <function __main__.lookup>,
 u'Product type (4th level)': <function __main__.lookup>,
 u'Product type (5th level)': <function __main__.lookup>}

In [5]:
df1=pd.read_csv('report_2016_09_01-2016_12_01.csv', nrows=2000000)

/home/sean/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [27]:

lookups['a']={}
a=do_lookup('a', np.uint16)

In [28]:
a('hello')
a('hi')

1

In [29]:
lookups

{'a': {'hello': 0, 'hi': 1}}

In [6]:
df1['Item Id'].max()

'9142330195969'

In [20]:
def cast_categ(df_inp, cat_types):
    for c in cat_types:
        df_inp[c]=df_inp[c].astype('category')

In [48]:
cast_categ(df1,cat_types)

In [25]:
cnt=df_mg.groupby([ 'Ad group', 'Ad group ID']).size()

In [52]:
cnt.shape

(2576,)

In [26]:
cnt1=cnt.groupby(level='Ad group').size()

In [31]:
cnt.xs('4 barra 12')

Ad group ID
33584830233    48
33584954193     4
dtype: int64

In [27]:
cnt1[cnt1>1]

Ad group
0039 italy                            2
120%lino                              2
4 barra 12                            2
4lou                                  2
7 for all mankind                     2
81hours                               2
a beautiful story                     2
a-k-r-i-s-                            2
abro                                  2
acca kappa                            2
acqua di parma                        2
add                                   2
adenauer                              2
adenauer & co                         2
adidas                                2
adidas by raf simons                  2
adidas by stella mccartney            2
adidas originals                      2
adidas stellasport                    2
aerin                                 2
aeronautica                           2
aeronautica militare                  2
ag jeans                              2
agl attilio giusti leombruni          2
agl-attilio giusti leombruni          2
aglini                                2
agnona                                2
aigner                                2
airfield                              2
airforce                              2
                                     ..
wood wood                             2
wood'd                                2
woolrich                              2
würth                                 2
x- socks                              2
x-socks                               2
y-3                                   2
yaya                                  2
yippie hippie                         2
yogistar                              2
young couture by barbara schwarzer    2
yves saint laurent                    2
yves saint laurent beauté             2
yves salomon                          2
z zegna                               2
zadig & voltaire fragrances           2
zarkoperfume                          2
zaubermasche                          2
zegna                                 2
zegnasport                            2
zhrill                                2
ziener                                2
zinda                                 2
zinga                                 2
zingaro                               2
zizzi                                 2
zoe karssen                           2
zoeppritz                             2
zwilling                              2
zzegna                                2
dtype: int64

In [38]:
cnt.head()

Ad group         Ad group ID
Marken_Barts     17602163553      125
Marken_Boss      17601240513    12412
Marken_Cambio    17602161273      424
Marken_Desigual  17922688713      174
Marken_Doell     17602162953       57
dtype: int64

In [36]:
cnt.reset_index()['Ad group'].isnull().sum()

0

In [32]:
df_test[['Ad group ID', 'Ad group', 'Brand']].sample(50)

       Ad group ID             Ad group                               Brand
99468  17601222753     Marken_Marc-Cain                            marccain
9072   17601240513          Marken_Boss                                boss
71515  17601229593   Marken_Marc-O'Polo                         marc o'polo
24755  17601222753     Marken_Marc-Cain                            marccain
75791  17601222753     Marken_Marc-Cain                            marccain
32600  17602244913          Marken_Rest                           strenesse
22092  17601240513          Marken_Boss                                boss
24520  17602244913          Marken_Rest                     raffaello rossi
29028  17601230193       Marken_Drykorn                             drykorn
94651  17601229593   Marken_Marc-O'Polo                    marc o'polo pure
91525  17601229593   Marken_Marc-O'Polo                         marc o'polo
63641  17601222753     Marken_Marc-Cain                            marccain
62551  17601222753     Marken_Marc-Cain                            marccain
93134  17601222753     Marken_Marc-Cain                            marccain
57667  17601229593   Marken_Marc-O'Polo                         marc o'polo
94688  17601240513          Marken_Boss                         boss orange
46907  17601230193       Marken_Drykorn                             drykorn
13174  17602244913          Marken_Rest                                yaya
82236  17601222753     Marken_Marc-Cain                            marccain
17976  17601240513          Marken_Boss                                hugo
97071  17601230193       Marken_Drykorn                             drykorn
93933  17601222753     Marken_Marc-Cain                            marccain
36881  17601240513          Marken_Boss                                boss
69192  17601222753     Marken_Marc-Cain                            marccain
70220  17601222753     Marken_Marc-Cain                            marccain
10833  17602244913          Marken_Rest                adidas by raf simons
51279  17601222633  Marken_Michael-Kors                        michael kors
78204  17601222753     Marken_Marc-Cain                            marccain
4201   17601240513          Marken_Boss                                hugo
68089  17601229593   Marken_Marc-O'Polo                    marc o'polo pure
67896  17601222753     Marken_Marc-Cain                            marccain
25448  17601240513          Marken_Boss                                hugo
80118  17601222753     Marken_Marc-Cain                            marccain
9247   17602244913          Marken_Rest  young couture by barbara schwarzer
79214  17601229593   Marken_Marc-O'Polo                         marc o'polo
40966  17601222753     Marken_Marc-Cain                            marccain
31263  17601229593   Marken_Marc-O'Polo                         marc o'polo
49227  17601240513          Marken_Boss                                boss
78434  17601222753     Marken_Marc-Cain                            marccain
71881  17601222753     Marken_Marc-Cain                            marccain
20491  17602244913          Marken_Rest                           artigiano
17045  17601222753     Marken_Marc-Cain                            marccain
62302  17601229593   Marken_Marc-O'Polo                         marc o'polo
42672  17601222753     Marken_Marc-Cain                            marccain
72236  17601222633  Marken_Michael-Kors                        michael kors
40231  17601222753     Marken_Marc-Cain                            marccain
88285  17601222753     Marken_Marc-Cain                            marccain
38939  17601222753     Marken_Marc-Cain                            marccain
93013  17601240513          Marken_Boss                                hugo
29885  17601240513          Marken_Boss                                boss

In [10]:
df_test.describe().T

,count,mean,std,min,25%,50%,75%,max
Clicks,100000.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0
Conversions,100000.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0
Total conv. value,100000.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0
Cost,100000.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0
Country/Territory,100000.0,2276.00000,0.000000,2276.0,2276.0,2276.0,2276.0,2276.0
Cross-device conv.,100000.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0
Impressions,100000.0,0.00003,0.005477,0.0,0.0,0.0,0.0,1.0

In [7]:
dt

                 column_name data_type
0                Ad group ID  category
1                   Ad group  category
2                      Brand  category
3                Campaign ID  category
4                   Campaign  category
5       Category (1st level)  category
6       Category (2nd level)  category
7       Category (3rd level)  category
8       Category (4th level)  category
9       Category (5th level)  category
10                    Clicks       NaN
11                Conv. rate       NaN
12               Conversions       NaN
13         Total conv. value       NaN
14                      Cost       NaN
15         Country/Territory       NaN
16        Cross-device conv.       NaN
17                       CTR       NaN
18            Custom label 0  category
19            Custom label 1  category
20            Custom label 2  category
21            Custom label 3  category
22            Custom label 4  category
23                       Day       NaN
24                    Device  category
25               Impressions       NaN
26                   Item Id  category
27  Product type (1st level)  category
28  Product type (2nd level)  category
29  Product type (3rd level)  category
30  Product type (4th level)  category
31  Product type (5th level)  category
32               Click share       NaN
33        Search Impr. share       NaN