In [1]:
import pandas as pd
import numpy as np

In [5]:
filename='report_2016_09_01-2016_12_01'

In [2]:
df_test=pd.read_csv('report_2016_02_01-2016_12_01.csv.gz',nrows=100000)

In [24]:
reader = pd.read_csv('report_2016_02_01-2016_12_01.csv', chunksize=1000000)

In [28]:
cat_types

array(['Ad group ID', 'Ad group', 'Brand', 'Campaign ID', 'Campaign',
       'Category (1st level)', 'Category (2nd level)',
       'Category (3rd level)', 'Category (4th level)',
       'Category (5th level)', 'Country/Territory', 'Custom label 0',
       'Custom label 1', 'Custom label 2', 'Custom label 3',
       'Custom label 4', 'Device', 'Item Id', 'Product type (1st level)',
       'Product type (2nd level)', 'Product type (3rd level)',
       'Product type (4th level)', 'Product type (5th level)'], dtype=object)

In [29]:
dfs=[]
for chunk in reader:
    df=cast_categ(chunk,cat_types)
    dfs.append(cast_categ)

/home/sean/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2821: DtypeWarning: Columns (13,26) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
/home/sean/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2821: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [30]:
df_all=pd.concat(dfs)

TypeError: cannot concatenate a non-NDFrame object

In [12]:
!gunzip -c report_2016_09_01-2016_12_01.csv.gz|wc

OSError: [Errno 12] Cannot allocate memory

In [47]:
df1=pd.read_csv('report_2016_09_01-2016_12_01.csv', nrows=2000000)

In [20]:
def cast_categ(df_inp, cat_types):
    for c in cat_types:
        df_inp[c]=df_inp[c].astype('category')

In [48]:
cast_categ(df1,cat_types)

In [49]:
df1.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Ad group ID,2e+06,2576,3.35849e+10,54572,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ad group,2000000,1539,marc o'polo,82865,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brand,2000000,1114,marc o'polo,84825,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Campaign ID,2e+06,6,6.44233e+08,1.25694e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Campaign,2000000,6,camato Designer,1256943,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Category (1st level),2000000,11,Bekleidung & Accessoires,1702086,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Category (2nd level),2000000,34,Bekleidung,1351333,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Category (3rd level),2000000,69,Überbekleidung,439678,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Category (4th level),2000000,93,--,1137782,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Category (5th level),2000000,55,--,1847175,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Clicks,2e+06,NaN,NaN,NaN,0.092653,1.42558,0,0,0,0,707
Conv. rate,2000000,94,0.00%,1997229,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Conversions,2e+06,NaN,NaN,NaN,0.001496,0.0420804,0,0,0,0,7
Total conv. value,2e+06,1519,0,1.16286e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cost,2e+06,NaN,NaN,NaN,59308.1,640767,0,0,0,0,3.3239e+08
Country/Territory,2e+06,1,2276,2e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cross-device conv.,2e+06,NaN,NaN,NaN,1.25e-05,0.0132853,0,0,0,0,17
CTR,2000000,1004,0.00%,1891327,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Custom label 0,2000000,1,--,2000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Custom label 1,2000000,1,--,2000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Custom label 2,2000000,1,--,2000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Custom label 3,2000000,1,--,2000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Custom label 4,2000000,1,--,2000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Day,2000000,92,2016-11-13,30254,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Device,2000000,3,Computers,787065,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Impressions,2e+06,NaN,NaN,NaN,6.00128,47.9178,0,1,2,4,18955
Item Id,2000000,166453,--,66235,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Product type (1st level),2000000,9,damen,870277,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Product type (2nd level),2000000,53,schuhe,167488,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Product type (3rd level),2000000,330,outdoor,65872,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Product type (4th level),2000000,322,--,1252927,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Product type (5th level),2000000,44,--,1926091,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Click share,2000000,4177,--,1924085,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Search Impr. share,2000000,5954,--,1927336,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
cnt=df1.groupby([ 'Ad group', 'Ad group ID']).size()

In [52]:
cnt.shape

(2576,)

In [45]:
cnt.reset_index().describe()

ValueError: Buffer dtype mismatch, expected 'Python object' but got 'long'

In [53]:
cnt1=cnt.groupby(level='Ad group').size()

In [54]:
cnt1[cnt1>1]

Ad group
0039 italy                            2
120%lino                              2
4lou                                  2
7 for all mankind                     2
81hours                               2
a beautiful story                     2
a-k-r-i-s-                            2
abro                                  2
acca kappa                            2
acqua di parma                        2
adenauer & co                         2
adidas                                2
adidas by raf simons                  2
adidas by stella mccartney            2
adidas originals                      2
adidas stellasport                    2
aeronautica militare                  2
ag jeans                              2
agl attilio giusti leombruni          2
agl-attilio giusti leombruni          2
aglini                                2
agnona                                2
aigner                                2
airfield                              2
airforce                              2
alameda turquesa                      2
alaïa paris                           2
alberto                               2
alexander mcqueen                     2
alice & i                             2
                                     ..
windsor                               2
witty knitters                        2
wmf                                   2
wolford                               2
wood wood                             2
wood'd                                2
woolrich                              2
würth                                 2
x-socks                               2
y-3                                   2
yaya                                  2
yippie hippie                         2
yogistar                              2
young couture by barbara schwarzer    2
yves saint laurent beauté             2
yves salomon                          2
zadig & voltaire fragrances           2
zarkoperfume                          2
zaubermasche                          2
zegna                                 2
zhrill                                2
ziener                                2
zinda                                 2
zinga                                 2
zingaro                               2
zizzi                                 2
zoe karssen                           2
zoeppritz                             2
zwilling                              2
zzegna                                2
dtype: int64

In [38]:
cnt.head()

Ad group         Ad group ID
Marken_Barts     17602163553      125
Marken_Boss      17601240513    12412
Marken_Cambio    17602161273      424
Marken_Desigual  17922688713      174
Marken_Doell     17602162953       57
dtype: int64

In [36]:
cnt.reset_index()['Ad group'].isnull().sum()

0

In [32]:
df_test[['Ad group ID', 'Ad group', 'Brand']].sample(50)

       Ad group ID             Ad group                               Brand
99468  17601222753     Marken_Marc-Cain                            marccain
9072   17601240513          Marken_Boss                                boss
71515  17601229593   Marken_Marc-O'Polo                         marc o'polo
24755  17601222753     Marken_Marc-Cain                            marccain
75791  17601222753     Marken_Marc-Cain                            marccain
32600  17602244913          Marken_Rest                           strenesse
22092  17601240513          Marken_Boss                                boss
24520  17602244913          Marken_Rest                     raffaello rossi
29028  17601230193       Marken_Drykorn                             drykorn
94651  17601229593   Marken_Marc-O'Polo                    marc o'polo pure
91525  17601229593   Marken_Marc-O'Polo                         marc o'polo
63641  17601222753     Marken_Marc-Cain                            marccain
62551  17601222753     Marken_Marc-Cain                            marccain
93134  17601222753     Marken_Marc-Cain                            marccain
57667  17601229593   Marken_Marc-O'Polo                         marc o'polo
94688  17601240513          Marken_Boss                         boss orange
46907  17601230193       Marken_Drykorn                             drykorn
13174  17602244913          Marken_Rest                                yaya
82236  17601222753     Marken_Marc-Cain                            marccain
17976  17601240513          Marken_Boss                                hugo
97071  17601230193       Marken_Drykorn                             drykorn
93933  17601222753     Marken_Marc-Cain                            marccain
36881  17601240513          Marken_Boss                                boss
69192  17601222753     Marken_Marc-Cain                            marccain
70220  17601222753     Marken_Marc-Cain                            marccain
10833  17602244913          Marken_Rest                adidas by raf simons
51279  17601222633  Marken_Michael-Kors                        michael kors
78204  17601222753     Marken_Marc-Cain                            marccain
4201   17601240513          Marken_Boss                                hugo
68089  17601229593   Marken_Marc-O'Polo                    marc o'polo pure
67896  17601222753     Marken_Marc-Cain                            marccain
25448  17601240513          Marken_Boss                                hugo
80118  17601222753     Marken_Marc-Cain                            marccain
9247   17602244913          Marken_Rest  young couture by barbara schwarzer
79214  17601229593   Marken_Marc-O'Polo                         marc o'polo
40966  17601222753     Marken_Marc-Cain                            marccain
31263  17601229593   Marken_Marc-O'Polo                         marc o'polo
49227  17601240513          Marken_Boss                                boss
78434  17601222753     Marken_Marc-Cain                            marccain
71881  17601222753     Marken_Marc-Cain                            marccain
20491  17602244913          Marken_Rest                           artigiano
17045  17601222753     Marken_Marc-Cain                            marccain
62302  17601229593   Marken_Marc-O'Polo                         marc o'polo
42672  17601222753     Marken_Marc-Cain                            marccain
72236  17601222633  Marken_Michael-Kors                        michael kors
40231  17601222753     Marken_Marc-Cain                            marccain
88285  17601222753     Marken_Marc-Cain                            marccain
38939  17601222753     Marken_Marc-Cain                            marccain
93013  17601240513          Marken_Boss                                hugo
29885  17601240513          Marken_Boss                                boss

In [26]:
dt=pd.read_csv(filename+'_datadict.csv',usecols=range(2))
cat_types=dt.column_name[dt.data_type=='category'].values

In [27]:
cat_dict={c:'category' for c in cat_types}

In [9]:
for c in dt.column_name[dt.data_type=='category']:
    df_test[c]=df_test[c].astype('category')

In [10]:
df_test.describe().T

,count,mean,std,min,25%,50%,75%,max
Clicks,100000.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0
Conversions,100000.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0
Total conv. value,100000.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0
Cost,100000.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0
Country/Territory,100000.0,2276.00000,0.000000,2276.0,2276.0,2276.0,2276.0,2276.0
Cross-device conv.,100000.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0
Impressions,100000.0,0.00003,0.005477,0.0,0.0,0.0,0.0,1.0

In [7]:
dt

                 column_name data_type
0                Ad group ID  category
1                   Ad group  category
2                      Brand  category
3                Campaign ID  category
4                   Campaign  category
5       Category (1st level)  category
6       Category (2nd level)  category
7       Category (3rd level)  category
8       Category (4th level)  category
9       Category (5th level)  category
10                    Clicks       NaN
11                Conv. rate       NaN
12               Conversions       NaN
13         Total conv. value       NaN
14                      Cost       NaN
15         Country/Territory       NaN
16        Cross-device conv.       NaN
17                       CTR       NaN
18            Custom label 0  category
19            Custom label 1  category
20            Custom label 2  category
21            Custom label 3  category
22            Custom label 4  category
23                       Day       NaN
24                    Device  category
25               Impressions       NaN
26                   Item Id  category
27  Product type (1st level)  category
28  Product type (2nd level)  category
29  Product type (3rd level)  category
30  Product type (4th level)  category
31  Product type (5th level)  category
32               Click share       NaN
33        Search Impr. share       NaN